<div id="product-modal" class="modal fade">  
  <% if action_name == "new" %>
    <div class="modal-dialog">
  <% else %>
    <div class="modal-dialog modal-lg">
  <% end -%>
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header padding-lef">
          <% if action_name == "new" %>
            <h4 class="modal-title">Enviar Mensaje </h4>  
          <% else %>
            <h4 class="modal-title">Responder a <%= @contac_reemper.user.names %></h4>
          <% end -%>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    <%= form_with(model: contac_reemper, html: {class: "needs-validation", :novalidate => true }) do |form| %>
     <div class="modal-body" style="background-color: #f7f7f7;">
        <% if contac_reemper.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(contac_reemper.errors.count, "error") %> prohibited this contac_reemper from being saved:</h2>

            <ul>
            <% contac_reemper.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <% if action_name == "new"%>

        <div class="row" style="margin-bottom: 10px;">
    
          <div class="col-md-4 text-center">
            <%= @reemper.user.avatar? ? image_tag(@reemper.user.avatar_url(), class: "img-question img-rounded img-fluid") : image_tag("https://image.ibb.co/jw55Ex/def_face.jpg", class: "img img-rounded img-fluid")%>
          </div>

          <div class="col-md-5 no-padding">
            <b>Nombre</b><p><%= @reemper.user.names? ? @reemper.user.names : "Usuario Reemp" %></p>
            <b>Email</b><p><%= @reemper.user.email %></p>
          </div>

          <% if @reemper.user.phone.present? %>
            <div class="col-md-3 text-center">
              <a href="https://api.whatsapp.com/send?phone=<%= @reemper.user.phone %>&text=Vengo de Reemp" target="_blank">
                <i class="fab fa-whatsapp icon-what"></i>
                <span class="badge badge-success">Contacto <br> Via Whatsapp </span>
              </a>
            </div>
          <% end -%>

        </div>

        <div class="field">
          <%= form.label "Mensaje" %>
          <%= form.text_area :description, :rows => 9, class: "form form-control", id: "validationCustom01", :required => true %>

          <div class="invalid-feedback">
                Requerido!
          </div>
        </div>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <%= form.hidden_field :reemper_id, :value => @reemper.id %>
          <%= form.hidden_field :state_request, :value => "pending" %>

        <% elsif action_name == "edit" %>

        <div class="row">
    
          <div class="col-md-3 text-center">
            <%= @contac_reemper.user.avatar? ? image_tag(@contac_reemper.user.avatar_url(), class: "img-question img-rounded img-fluid") : image_tag("https://image.ibb.co/jw55Ex/def_face.jpg", class: "img img-rounded img-fluid")%>
          </div>

          <div class="reemper-message col-md-8">
            <span class="tip tip-left"></span>
              <div class="message">
                <div class="row">
                  <div class="col-md-5">
                    <b><%= @contac_reemper.user.names? ? @contac_reemper.user.names : "Usuario Reemp" %></b>
                  </div>

                  <div class="col-md-7 no-padding-right">
                    <p class="badge badge-success"><%= @contac_reemper.user.email %></p>
                  </div>
                </div>

                <span><%== contac_reemper.description %></span>
            </div>
          </div>

        </div>

          <div class="field">
            <%= form.label "Respuesta" %>
            <%= form.text_area :answer, :rows => 9, class: "form form-control" %>
          </div>
            <%= form.hidden_field :reemper_id, :value => @contac_reemper.reemper.id %> 
            <%= form.hidden_field :state_request, :value => "delivered" %>         
          <% end -%>
    </div> 

    <div class="modal-footer">
      <%= form.submit "Enviar", class: "btn btn-success" %>
    </div>

    </div>
  </div>
</div>
<% end -%>

