<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
<legend>Mensajes Enviados de Usuarios</legend>
<% if @contac_reempers.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>EL Usuario</th>
        <th>Estado el Mensaje</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @contac_reempers.each do |contac_reemper| %>
        <tr>
          <td><%= contac_reemper.user.names %>
            <%= link_to edit_contac_reemper_path(contac_reemper.id), remote: true do %>
              <i class="fas fa-info-circle" id="icon-info"></i>
            <% end -%>
          </td>
          <td><%= get_state(contac_reemper.state_request) %></td>
          <td><%= link_to 'Eliminar', contac_reemper, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="col-md-12 text-center no-padding">
        <i class="far fa-envelope"></i>       
      </div>
    </div>
  </div>
<% end -%>

<legend>Mensajes Respondidos</legend>
<% if @answer_reemper.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>EL Usuario</th>
        <th>Estado el Mensaje</th>
      </tr>
    </thead>

    <tbody>
      <% @answer_reemper.each do |contac_reemper| %>
        <tr>
          <td><%= contac_reemper.reemper.user.names %>
             <i class="fas fa-info-circle" data-toggle="modal" data-target="#modal-reemper<%= contac_reemper.id%>" id="icon-info"></i>
          </td>
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-reemper<%= contac_reemper.id%>">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-reemper<%= contac_reemper.id %>">la Respuesta de <%= contac_reemper.reemper.user.names %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="card card-reemper">
                    <div class="card-body">

                      <div class="container">
                        <div class="row">

                          <div class="col-md-3">
                            <%= contac_reemper.user.avatar? ? image_tag(contac_reemper.user.avatar_url(), class: "img-avatar img-rounded img-fluid") : image_tag("https://image.ibb.co/jw55Ex/def_face.jpg", class: "img img-rounded img-fluid")%>
                          </div>

                          <div class="body-messaje col-md-8">
                            <span class="tip tip-left"></span>
                            <div class="message">
                              <div class="row">
                                <div class="col-md-5">
                                  <b><%= contac_reemper.user.names? ? contac_reemper.user.names : "Usuario Reemp" %></b>
                                </div>

                                <div class="col-md-7 no-padding-right">
                                  <p class="badge badge-success"><%= contac_reemper.user.email %></p>
                                </div>
                              </div>

                              <span><%== contac_reemper.description %></span>
                            </div>
                          </div>
                              
                          <div class="body-messaje col-md-8 float-right">
                            <span class="tip tip-right"></span>
                              <div class="message">

                                <div class="row">
                                  <div class="col-md-7">
                                    <p class="badge badge-success"><%= contac_reemper.reemper.user.email %></p>
                                  </div>

                                  <div class="col-md-4 no-padding-right">
                                      <strong><%= contac_reemper.reemper.user.names? ? contac_reemper.reemper.user.names : "Usuario Reemp" %></strong>
                                  </div>
                                </div>

                                <span><%== contac_reemper.answer %> </span>
                              </div>
                          </div>

                          <div class="col-md-3 float-right">
                            <%= contac_reemper.reemper.user.avatar? ? image_tag(contac_reemper.reemper.user.avatar_url(), class: "img-avatar img-rounded img-fluid") : image_tag("https://image.ibb.co/jw55Ex/def_face.jpg", class: "img img-rounded img-fluid")%>
                          </div>

                        <!--
                          <div class="col-md-2">
                            <%= contac_reemper.user.avatar? ? image_tag(contac_reemper.user.avatar_url(), class: "img-reemper") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-reemper")%>
                          </div>

                          <div class="col-md-4">
                            <h5><%# contac_reemper.user.names %></h5>
                              <strong>Numero de Contacto: </strong>
                              <p><%= contac_reemper.user.phone %></p>

                              <strong>Email</strong>
                              <p><%# contac_reemper.user.email %></p>
                          </div>
                        -->

                        </div>
                      </div>

                    </div>
                  </div>
<!--
                  <div class="col-md-12">  
                    <p><%# contac_reemper.answer %></p>
                  </div>
-->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <td><%= get_state(contac_reemper.state_request) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="col-md-12 text-center no-padding">
          <i class="far fa-envelope"></i>       
        </div>
      </div>
    </div>
<% end -%>
<style type="text/css" media="screen">

  #icon-info{
    float: right;
    font-size: 22px;
    color: #40afdc;
    cursor: pointer;

  }
    .cke_1{
      box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
    }

    .cke_top{
      border-bottom: none;
    }

    .cke_bottom{
      border-top: none;
    } 

    .img-reemper{
      height: 108px !important;
      border-radius: 10px !important;
    }

.img-avatar{
  border-radius: 50%;
  height: 156px;
  margin-top: 10px;
}

.message b{
  float: left;
  font-size: 20px;
}

.message strong{
  float: right;
  font-size: 20px;
}

.body-messaje {
  position: relative;
  height: auto;
  margin: 20px 10px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #40afdc;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 12px solid #40afdc;
}

.tip-left {
  top: 10px;
  left: -24px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -24px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

    body{
      padding: 0px !important;
    }
</style>
