<% if @contacts.any? %>
<legend>Contacto</legend>
<table class="table js-scrollable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Ciudad</th>
      <th>Categoria</th>
      <th>Especialidad</th>
      <th>Profesion</th>
      <th>Instagram</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name if contact %></td>
        <td><%= contact.email if contact %></td>
        <td><%= contact.city if contact %></td>
        <td><%= contact.category.name if contact.category %></td>
        <td><%= contact.specialty_name if contact %></td>
        <td><%= contact.profession_name if contact %></td>
        <td><%= contact.instagram if contact %></td>
          <td class="text-center">
            <%= link_to contact_delete_path(contact.id), method: :delete, data: {
                confirm: '¿Estas Seguro?',
                'confirm-button-text': 'Borrar',
                'cancel-button-text': 'Cancelar',
                'confirm-button-color': '#CC0000',
                 text: 'Recuerda que el registro se borrara permanentemente',
                'image-url': ''}, class: "btn btn-danger" do %>
              <span class="glyphicon glyphicon-trash"></span> 
            <% end -%>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <h1 align="center">todavia no nos han contactado!</h1>
<% end -%>

  <div class = "col-md-12 paginate text-center title-table1">
    <nav class="pagination-outer" aria-label="Page navigation">
      <%= will_paginate @contacts, previous_label: "&laquo;", next_label: "&raquo;", inner_window: 1, outer_window: 0 %>
    </nav>
  </div>

<style type="text/css" media="screen">

  .btn1:hover{
    color: #fff;
  }
</style>

<script type="text/javascript">
  <% if flash[:delete].present? %>
    toastr["error"]("<%= flash[:delete] %> con <b>Exito!</b>");
  <% end -%>
</script>

<style type="text/css" media="screen">
  .demo{ background-color: #5f1155; }
.pagination-outer{ text-align: center; }
.pagination{
    display: inline-flex;
    position: relative;
    z-index: 1;
}
.pagination li a.page-link{
    color: #fdeeac;
    background: transparent;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 10px 4px;
    border: 2px solid #fdeeac;
    border-radius: 0;
    transition: all 0.4s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #5f1155;
    background-color: transparent;
}
.pagination li a.page-link:before{
    content: " ";
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent;
    border: 2px solid rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:-1;
    transition: all 0.4s;
}
.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:before {
    background: #fdeeac;
    width: calc(100% - 10px);
    height: calc(100% + 15px);
    border: 2px solid #fdeeac;
}
@media only screen and (max-width: 480px){
    .pagination{ display: block; }
    .pagination li{
        margin-bottom: 10px;
        display: inline-block;
    }
}
</style>