<%= render "parciales/menu_show" %>
<br>

<% if  @categorias == "Salud" %>
  <% categoria = "Salud" %> 
<% elsif @categorias == "Mascotas" %>
  <% categoria = "Mascotas" %> 
<% elsif @categorias == "Legal"%>
  <% categoria = "Legal" %>
<% elsif @categorias == "Construccion" %>
  <% categoria = "Construccion" %> 
<% end -%> 

  <div class="row row-principal">

<div class="col-md-7">
  <div class="row">
      <div class="col-md-12" style="padding-left: 27px;">
      <%= form_tag browser_path, :method => 'post' do %>

         <div class="custom-select input-search" id="select">
            <select name="" class="" id="cambio">
              <option value="">Cirugia Plastica</option>
              <option value="1">asdasd</option>
            </select>
         </div>


        <button class="btn-search">
          <b>Buscar</b> <i class="fas fa-search"></i>
        </button>

        <button class="dropdown-toggle btn-catego" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if !@categorias.blank? %>
            <b id="search-btn"><%= @categorias %></b>
          <% end -%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if  @categorias == "Salud"%>
            <a class="dropdown-item" id="masco">Mascotas</a>
            <a class="dropdown-item" id="legal">Legal</a>
            <a class="dropdown-item" id="constru">Construccion</a>
          <% elsif @categorias == "Mascotas" %>
            <a class="dropdown-item" id="legal">Legal</a>
            <a class="dropdown-item" id="empre">Salud</a>
            <a class="dropdown-item" id="constru">Construccion</a>
          <% elsif @categorias == "Legal"%>
            <a class="dropdown-item" id="masco">Mascotas</a>
            <a class="dropdown-item" id="empre">Salud</a>
            <a class="dropdown-item" id="constru">Construccion</a>
          <% elsif @categorias == "Construccion" %>
            <a class="dropdown-item" id="masco">Mascotas</a>
            <a class="dropdown-item" id="legal">Legal</a>
            <a class="dropdown-item" id="empre">Salud</a>
          <% end -%> 
        </div>
          <%= hidden_field_tag :category_id, nil , id: "category_id" %>
          <%= hidden_field_tag :specialties, nil, id: "specialties" %>
          <%= hidden_field_tag :legal, nil, id: "legal" %>

      <% end -%>
    </div>

    <div class="col-md-12" style="padding-left: 27px; margin-top: 10px;">
      <ol class="breadcrumb">

        <% if !@categorias.blank? %>
          <li><a href="#"><%= @categorias %></a></li>
        <% end -%>

        <% if !@specate.blank? %>
          <li><a href=""><%= @specate %></a></li>
        <% end -%>

        <% if !@ciudad.blank? %>
          <li><a href=""><%= @ciudad %></a></li>
        <% end -%>

      </ol>
    </div>

    <div class="card col-md-6 " style="background-color: transparent; padding-right: 6px; /*max-width: 29.33333%;*/" >
      <div class="card-body" style=" padding: inherit;">
        <div id="map"></div>  
      </div>
    </div>

    <div class="card col-md-6 card-remp col-sm-12 col-xs-12" id="card-reempers">
      <div class="card-body" style="padding: 8px 0px 10px 15px;">
        <div class="col-dm-12 no-padding" id="hits"></div>
        <div class="col-dm-12 no-padding" id="hits1"></div>

      </div>
    </div>

  </div>
</div>
    <div class="card col-md-5 animated bounceInRight" id="card-users" style="background-color: transparent; display: none; max-width: 39.6667% !important;">
      <div class="card-body" style=" padding: 15px; background-color: #fcf8fc; overflow-y: auto; max-height: 521px;">
          <div class="remplace"></div>
          <div id="info-reemp"></div>
      </div>
    </div>
  

    <script type="text/javascript">

      jQuery(document).ready(function($) {
        $("#reemper").click();
      });

      $("#masco").click(function(event) {
        $("#search-btn").text($(this).text());
        $("#category_id").val($(this).text());
        $(".btn-catego").css({'background':'#DE12A1'});
        var name = $(this).text()
          $.get("/remp/" + name, function(data, status){

              //$("#select").append("<option>" + data. + "</option>")
          });

      });

      $("#legal").click(function(event) {
        $("#search-btn").text($(this).text());
        $("#category_id").val($(this).text());
        $(".btn-catego").css({'background':'#0b255b'});
        var name = $(this).text()
          $.get("/remp/" + name, function(data, status){

              console.log(data);
          });
      });

      $("#empre").click(function(event) {
        $("#search-btn").text($(this).text())
        $("#category_id").val($(this).text());
        $(".btn-catego").css({'background':'#6DD5FA'});
        var name = $(this).text()
          $.get("/remp/" + name, function(data, status){
              $('#cambio').append('<option value="2">Foo</option>');
          });
      });

      $("#constru").click(function(event) {
        $("#search-btn").text($(this).text());
        $("#category_id").val($(this).text());
        $(".btn-catego").css({'background':'#FD9E04'});
        var name = $(this).text()
          $.get("/remp/" + name, function(data, status){
console.log(data);
              
          });
      });

    </script>


<script type="text/javascript">   
var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  /*for each element, create a new DIV that will act as the selected item:*/
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /*for each element, create a new DIV that will contain the option list:*/
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < selElmnt.length; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      $(".select-items").addClass('animated fadeInDown');
      /*when the select box is clicked, close any other select boxes,
      and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active ");
    });
}
function closeAllSelect(elmnt) {
  /*a function that will close all select boxes in the document,
  except the current select box:*/
  var x, y, i, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  for (i = 0; i < y.length; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < x.length; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
      $(".select-items").addClass('animated fadeUpDown');

    }
  }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);

</script>

<style type="text/css" media="screen">
  @media only screen and (min-width: 1600px) {

    /* Large screen, non-retina */
      .btn-search{
        left: 571px !important;
      }

  }
  .custom-select {
      position: relative;
      font-family: Arial;
    }

    .none{
      display: none;
    }

    .show{
      display: block;
    }

    .custom-select select {
      display: none; /*hide original SELECT element:*/
    }

    #name{
      color: #6E7780;
    }

    #cirugia{
      color: #6E7780;
    }

    .ubica{
      color: #6E7780;
    }

    .select-selected {
      text-align: left;
      padding-left: 143px !important;
      border-radius: 20px;
      <% if  @categorias == "Salud" %>
        color: #7cd2f8 !important;
      <% elsif @categorias == "Mascotas" %>
        color: #DE12A1 !important;
      <% elsif @categorias == "Legal" %>
        color: #210554 !important;   
      <% elsif @categorias == "Construccion" %>
        color: #FD9E04 !important;
      <% end -%>
      width: 701px;
    }

    /*style the arrow inside the select element:*/

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }

    /*style the items (options), including the selected item:*/
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 8px 16px;
      border: 1px solid transparent;
      cursor: pointer;
      user-select: none;
      margin-top: -7px;
    }

    #btn-show{
      color: #6E7780;
      margin-top: 10px;
      cursor: pointer;
    }


    #btn-show::after{  
      font-family: "FontAwesome";
      content: "\f067";
      margin-left: 5px;
    }

    /*style items (options):*/
    .select-items {
      position: absolute;
      top: 101%;
      max-height: 159px;
      overflow: auto;
      left: 139px;
      right: 20px;
      border-bottom-left-radius: 23px;
      border-bottom-right-radius: 23px;
      z-index: 99;
      background: #fff;
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
      display: none;
    }

    .select-items div{
      color: #000 !important;
    }

    .select-items div::before{
      font-family: "FontAwesome";
      content: "\f002";
      color: gray;
      float: left;
      margin-right: 20px;
    }
  #masco{
    border-radius: 43px;
    border: initial; 
    padding: 5px;
    background: #DE12A1;
    color: #ffff;
    margin-bottom: 10px;   
    width: 120px;
    margin-left: 10px;
    cursor: pointer;
  }

  #legal{
    border-radius: 43px;
    border: initial; 
    padding: 5px;
    background: #0b255b;
    color: #ffff;   
    width: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  #empre{
    border-radius: 43px;
    border: initial; 
    padding: 5px;
    background: #6DD5FA;
    color: #ffff;   
    width: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  #constru{
    border-radius: 43px;
    border: initial; 
    padding: 5px;
    background: #FD9E04;
    color: #ffff;   
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  /* query para iphone 6/7/8 */
    @media screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3){
      :root, body {
        overflow: auto !important;
        overflow-x: hidden !important;
      }
    }

    /* query para orizontal iphone 6/7/8 */
    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {
      :root, body {
        overflow: auto !important;
        overflow-x: hidden !important;
      }

    }

    @media (max-width: 576px) {
      .btn-search{
        left: 211px !important;
      }

      :root, body {
        overflow: auto !important;
        overflow-x: hidden !important;
      }
    }

    /*table asdasd*/
    @media (min-width: 768px) and (max-width: 1024px) {
      :root, body {
        overflow: auto !important;
        overflow-x: hidden !important;
      }
    }


    @media only screen and (max-width: 1000px) {
      :root, body {
        overflow: auto !important;
        overflow-x: hidden !important;
      }
    }
  #show-inforem{
    border-radius: 4px;
    background-color: red;
  }

  .card-remp{
    max-height: 417px;
    overflow: scroll;
    background-color: #fdf6f6fa;
    padding: 0px 8px 0px 8px;
    overflow-x: hidden;
    /*max-width: 30.33333%;*/
    border-radius: 10px;

  }

  .dropdown-menu.show{
    top: -1px !important;
    text-align: center;
    border-top: initial;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }

  .input-search{
    border-radius: 43px;
    border: initial;
    height: 41px;
    width: 97%;
    padding-left: 0px;
    <% if  @categorias == "Salud" %>
      color:  #6DD5FA !important;
    <% elsif @categorias == "Mascotas" %> 
      color: #DE12A1 !important;
    <% elsif @categorias == "Legal"%>
      color: #0b255b !important;
    <% elsif @categorias == "Construccion" %>
      color: #FD9E04 !important;
    <% end -%>

    /* 211px */
  }

  :root, body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }

  .btn-search{
    border-radius: 43px;
    border: initial; 
    padding: 9px;
    background-color: #22D3B1;
    color: #fff; 
    width: 120px;
    position: absolute;
    left: 589px;
  }

  .btn-contac{
    border-radius: 43px;
    border: initial; 
    padding: 5px;
    <% if  @categorias == "Salud" %>
      background-color:  #6DD5FA;
    <% elsif @categorias == "Mascotas" %>
      background-color: #DE12A1;
    <% elsif @categorias == "Legal"%>
      background-color: #0b255b;
    <% elsif @categorias == "Construccion" %>
      background-color: #FD9E04;
    <% end -%>
    color: #ffff;   
    float: right;
    text-align: center;
    width: 36px;
  }

  .btn-catego{
    border-radius: 43px;
    border: initial; 
    padding: 5px;
    <% if  @categorias == "Salud" %>
      background-color:  #6DD5FA;
    <% elsif @categorias == "Mascotas" %>
      background-color: #DE12A1;
    <% elsif @categorias == "Legal"%>
      background-color: #0b255b;
    <% elsif @categorias == "Construccion" %>
      background-color: #FD9E04;
    <% end -%>
    color: #ffff;   
    width: 120px;
    position: absolute;
    left: 32px;
    bottom: 3px;
  }

  .btn-info{
    border-radius: 39px;
    border: 1px solid #ffff;
    margin-top: 10px
  }

  .show-info{
    background-color: #ffff;
    margin-bottom: 10px;
    border-radius: 10px;;
    box-shadow: 0 1px 10px 0 #6e77801c;
  }

  .conten-img img{
  	height: 63px;
    border-radius: 11px;
  }

  .card-body{
  	    border-radius: 13px;
  }

  .panel{
  	background-color: #dcd5d53d;
  	margin-top: 10px;
  	border-radius: 10px;
  	padding: 10px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
        border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    <% if  @categorias == "Salud" %>
      background-color:  #6DD5FA;
    <% elsif @categorias == "Mascotas" %>
      background-color: #DE12A1;
    <% elsif @categorias == "Legal"%>
      background-color: #0b255b;
    <% elsif @categorias == "Construccion" %>
      background-color: #FD9E04;
    <% end -%> 
    border-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #006A8E; 
  }

.row-principal {
  margin-right: 43.5px;
  margin-left: 45.5px;
}

    .row-style{
      margin-left: 0px; 
      margin-right: 0px;
    }

    .espacios{
      margin-top: 10px;
      margin-bottom: -4px;
    }

    .btn-services{
      border-radius: 20px;
      border: initial; 
      background-color: #ffff;
      color: #6E7780;
      box-shadow: 0 1px 10px 0 #6e77801c;
    }




  body{
    background: linear-gradient(to bottom, #2A97BC, #006A8E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
  }
</style>
<!--
  animated bounceInRight
<div class="container" style="margin-top: 10px; height: 579px;">
  <div class="row">

    <div class="col-md-12">
      <ol class="breadcrumb">
          <li><a href="/home/index">Home</a></li>

          <% if !@categorias.blank? %>
            <li><a href="#"><%= @categorias %></a></li>
          <% end -%>

          <% if !@specate.blank? %>
            <li><a href=""><%= @specate %></a></li>
          <% end -%>

          <% if !@ciudad.blank? %>
            <li><a href=""><%= @ciudad %></a></li>
          <% end -%>
      </ol>
    </div>




    <div class="card col-md-4">
        <legend>Buscadores</legend>

        <label>Buscar Reemper</label>
        <div id="search-box"></div><br>

        <label>Categorias</label>
        <div id="autocomplete"></div>
    </div>
-->


    <!-- Button trigger modal -->
    <!-- Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" id="btn-show" data-target="#myModal" style="display: none;">
      Launch demo modal
    </button>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="p"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> 
  </div>                             
</div> 
<br><br>                        
 

<%= render "parciales/sesion" %>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/reset-min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />


    <script src="https://cdn.jsdelivr.net/npm/scriptjs@2.5.9/dist/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.0.0"></script>




  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/algolia.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.css">


    <div id="autocomplete"></div>
    <div id="hits"></div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.30.0/dist/algoliasearchLite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@beta"></script>
</body>

</html>


<style type="text/css" media="screen">
#map-reemper{
  margin-top: 15px;
  border-radius: 10px !important;
}

.ais-GeoSearch-map{
  border-radius: 10px !important; 
}

em {
  background: cyan;
  font-style: normal;
}

.ais-Hits-item{
  width: 100%;
  border: initial !important;
  border-radius: 10px;
  padding: 1px;
  margin-left: 0px;
  box-shadow: 0 5px 19px 1px #e3e5ec;
}

.ais-GeoSearch-marker{
  cursor: pointer;
}

.show-reempers{
  margin-bottom: 10px;
}

.icon-inst{
	 font-size: 24px;
   color: gray;
}


 @media only screen and (min-width: 1600px) {

  /* Large screen, non-retina */
  body{
    zoom: 162% !important;
  }

  .submit1{
    top: -54px;
    right: -61px;
  }

}


</style>


<script type="text/javascript">

$(document).on('turbolinks:load',function() {

    /* global instantsearch algoliasearch $script */

  $script('https://maps.googleapis.com/maps/api/js?v=weekly&key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg', function() {
    <% if Rails.env.production? %>

      const search = instantsearch({
        searchClient: algoliasearch('DJ3JJMGZSP', 'ddbd8bb0730c9044fca8d4ddf2bb5152'),
        indexName: 'Reemper_production',
        routing: true,
      });
      console.log("en produccion")
    <% else %>

      const search = instantsearch({
        searchClient: algoliasearch('DJ3JJMGZSP', 'ddbd8bb0730c9044fca8d4ddf2bb5152'),
        indexName: 'Reemper_development',
        routing: true,
      });
      console.log("no estoy en produccion")
    <% end -%>
    /*
    const autocomplete = instantsearch.connectors.connectAutocomplete(
    ({ indices, refine, widgetParams }, isFirstRendering) => {
      const { container, onSelectChange } = widgetParams;

      if (isFirstRendering) {
        container.html('<select id="ais-autocomplete"></select>');

        container.find('select').selectize({
          options: [],
          valueField: 'category.name',
          labelField: 'name',
          placeholder: 'Categorias',
          highlight: false,
          onType: refine,
          onBlur() {
            refine(this.getValue());
          },
          score() {
            return function() {
              return 1;
            };
          },
            onChange(value) {
              onSelectChange(value);
              refine(value);
            },
          });

          return;
        }

        const [select] = container.find('select');

        indices.forEach(index => {
          select.selectize.clearOptions();
          index.results.hits.forEach(h => select.selectize.addOption(h));
          select.selectize.refreshOptions(select.selectize.isOpen);
        });
      }
    );


    search.addWidget(
      autocomplete({
        container: $('#autocomplete'),
        onSelectChange(value) {
          search.helper.setQuery(value).search();
        },
      })
    );


    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-box',
        placeholder: 'Reempers',
        showSubmit: false,
        cssClasses: {
          input: 'form-control',
        }
      })
    );
    */
   


    search.addWidget(
      instantsearch.widgets.configure({
        aroundLatLngViaIP: true,
        hitsPerPage: 10
        //filters: "user.name: E"
      })
    );


    var hitTemplate =

      '<div class="card col-sm-12 no-padding card-reemper">'+
        '<div class="card-body" style="padding: 8px !important;">'+

          '<div class="form-row">'+
            '<div class="col-md-4 no-padding-left">'+
              '<img class="img-xs rounded-circle" src="{{#helpers.highlight}}{ "attribute": "user.avatar" }{{/helpers.highlight}}" />'+
            '</div>'+

            '<div class="col-md-7 no-padding-right name-reemp">'+
              '<h4 class="user-reemp"> <%= link_to '{{user.name}}',CGI::unescape(reemper_info_path("{{objectID}}")), class: "", remote: true, id: "reemper" %> <br>'+
              '<span><i class="fas fa-star good" ></i><i class="fas fa-star "></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span><br>'+

              '<label style="font-size: 14px;color:#0cc3f3">{{#helpers.highlight}}{ "attribute": "profession" }{{/helpers.highlight}}</label><br />'+
            '</div>'+
         '</div>'+

        '</div>'+
      '</div>';

    var noResultsTemplate = '<div class="text-center">No se encontraron resultados con <strong>{{query}}</strong>.</div>';

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits',
        templates: {
          empty: noResultsTemplate,
          item: hitTemplate
        }
      })
    );
   
  /*
    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#pagination',
        cssClasses: {
          list: 'pagination',
          selectedItem: 'active'
        }
      })
    );
  */

   
  /*
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#room_types',
        attribute: 'name',
        restrictSearchableAttributes: [
          'title',
          'author'
        ],
        sortBy: ['name:asc'],
        cssClasses: {
          item: ['col-sm-3']
        },
      })
    );

    '<div class="card col-sm-12 no-padding card-reemper">'+
        '<div class="card-body" style="padding-left: 17px; padding-right: 17px;">'+
          '<div class="form-row">'+
          '<div class="col-md-4 no-padding-left">'+
            '<img class="img-xs rounded-circle" src="{{#helpers.highlight}}{ "attribute": "user.avatar" }{{/helpers.highlight}}" />'+
          '</div>'+
          '<div class="col-md-4 no-padding-right name-reemp">'+
            '<h4 class="user-reemp"> {{#helpers.highlight}}{ "attribute": "user.name" }{{/helpers.highlight}} <i class="fas fa-check-circle"></i> </h4>'+
            '<label style="font-size: 14px;color:#0cc3f3">{{#helpers.highlight}}{ "attribute": "profession" }{{/helpers.highlight}}</label><br />'+
            '<span><i class="fas fa-star good" ></i><i class="fas fa-star "></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span><br>'+
            '<b> <i class="fas fa-map-marker-alt" ></i> {{#helpers.highlight}}{ "attribute": "city" }{{/helpers.highlight}} </b>'+
          '</div>'+
                  '</div>'+
          '<div class="col-md-12 no-padding" style="margin-top: 10px;color:gray">'+
            '<p>'+
              '{{#helpers.highlight}}{ "attribute": "biography" }{{/helpers.highlight}}'+
            '</p>'+
            '<%# link_to "Ver Reemper",CGI::unescape(reemper_registration_path("{{user.name}}")), style: "float: right", target: '_blank', class: "reemper-show" %>'+
          '</div>'+

        '</div>'+
      '</div>';
  */


  /*
  search.addWidget(
    instantsearch.widgets.geoSearch({
      container: '#maps',
      googleReference: window.google,
      templates: {
        HTMLMarker: `
          <span class="marker">
            {{ city }} - {{ airport_id }}
          </span>
        `,
      },
    })
  );
  */
    var hello = 'hola'


    search.addWidget(
      instantsearch.widgets.geoSearch({
        container: '#map',
        googleReference: window.google,
        enableRefineControl: false,
        enableRefineOnMapMove: true,
        streetViewControl: true,
        initialZoom: 10, 
        templates: {
          HTMLMarker: '<img src="{{img_reemp}}" alt="" class="img-icon">',
          reset: 'Limpiar Busqueda',
        },
        mapOptions: {
          streetViewControl: true,
        },
        customHTMLMarker: {
          createOptions(item) {
            return {
              anchor: {
                x: 0,
                y: 0,
              },
            };
          },
          events: {
            click({ event, item, marker, map }) {
              $("#btn-show").click();
              document.getElementById("p").innerHTML = item.category.name;
            },
          },
        },
      }),
    );


    /*
    const widget = instantsearch.widgets.geoSearch({ 
      container: string|HTMLElement, 
      googleReference: object, 
      initialZoom: [number], 
      initialPosition: 6.2411950345475145, 
      paddingBoundingBox: [Padding], 
      templates: [GeoSearchTemplates], 
      cssClasses: [GeoSearchCSSClasses], 
      mapOptions: [object], 
      builtInMarker: [BuiltInMarkerOptions], 
      customHTMLMarker: [CustomHTMLMarkerOptionsboolean], 
      enableClearMapRefinement: [boolean], 
      enableRefineControl: [boolean], 
      enableRefineOnMapMove: [boolean], 
      enableGeolocationWithIP: [boolean], 
      position: 6.2411950345475145, 
      radius: [number], 
      precision: [number], 
      mapOptions: {
          mapTypeId: window.google.maps.MapTypeId.SATELLITE,
      },
      transformItems: [function], 
    }: GeoSearchWidgetOptions);

    search.addWidget(widget);

  */


      search.start();
    });
  });
</script>

<style type="text/css" media="screen">
  /* GENERAL
// ------------------------- */

.user-reemp a{
  color: #6E7780;
}
.bg-light{
  <% if  @categorias == "Salud" %>
    background-color:  #28688dfa !important;
  <% elsif @categorias == "Mascotas" %>
    background-color: #DE12A1 !important;
  <% elsif @categorias == "Legal" %>
    background-color: #210554 !important;   
  <% elsif @categorias == "Construccion" %>
    background-color: #FD9E04 !important;
  <% end -%>
  padding-top: 0px;
  box-shadow: -2px 2px 16px #383c3e;
}

.user-reemp{
  font-size: 16px;

  <% if  @categorias == "Salud" %>
    color:  #0cc3f3 !important;
  <% elsif @categorias == "Mascotas" %>
    color: #DE12A1 !important;
    <% elsif @categorias == "Construccion" %>
    color: #FD9E04 !important;
  <% end -%>
}

.name-reemp{
  font-size: 14px;
  <% if  @categorias == "Salud" %>
    color:  #0cc3f3 !important;
  <% elsif @categorias == "Mascotas" %>
    color: #DE12A1 !important;
  <% elsif @categorias == "Construccion" %>
    color: #210554 !important;
  <% end -%>
}

.fa-star{
  color:#A9AEB4!important;
  font-size: 14px;
}

.good{
  margin-top: 9px;
  margin-bottom: 7px;
}
.reemper-show{
    padding: 4px;
    <% if  @categorias == "Salud" %>
      background-color:  #0cc3f3 !important;
    <% elsif @categorias == "Mascotas" %>
      background-color: #DE12A1 !important;
      <% elsif @categorias == "Construccion" %>
      background-color: #210554 !important;
    <% end -%>
    border-radius: 42px;
    color: #fff;
}

#pills-home-tab{
  border-radius: 20px;
  background: #fff !important;
  color: #6E7780 !important;
  box-shadow: 0 1px 10px 0 #6e77801c !important;
  border: initial !important;
}

.img-icon{
  height: 40px;
}

.reemper-show:hover{
      color: #fff;
      text-decoration: none;
}

.reemper-show:visited{
      color: #fff;
      text-decoration: none;
}


.aisdemo--left-column {
  height: 400px;
}

.aisdemo--right-column {
  padding-right: 0;
  padding-left: 0;
}

.img-xs{
    width: 86px;
    height: 86px;
}

.picture{
  height: 10px;
}
/* HEADER
// ------------------------- */
.aisdemo-navbar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dce0e0;
  position: relative;
}
.aisdemo-navbar .is-logo {
  display: inline-block;
  position: relative;
  top: -8px;
  left: 16px;
}
.aisdemo-navbar .logo {
  display: inline-block;
  padding: 14px 22px;
  font-size: 40px;
  line-height: 1;
  font-family: Courier;
  color: #ff585b;
  border-right: 1px solid #dce0e0;
}
.aisdemo-navbar .fa-search {
  font-size: 30px;
  position: absolute;
  top: 17px;
  left: 140px;
  color: #dce0e0;
}
.aisdemo-navbar .ais-SearchBox {
  position: absolute;
  top: 0;
  left: 180px;
  height: 100%;
  width: 33%;
}
.aisdemo-navbar .ais-SearchBox-form {
  position: absolute;
  top: 15px;
  width: 300px;
  height: 40px;
  border: 0;
  box-shadow: none;
}
.aisdemo-navbar .ais-SearchBox-input {
  position: absolute;
  border: 0;
  box-shadow: none;
}
.aisdemo-navbar .ais-SearchBox-input:focus {
  outline: none;
  box-shadow: none;
}
.aisdemo-navbar .ais-SearchBox-reset {
  position: absolute;
  top: calc(50% - 25px / 2);
  right: 13px;
  fill: #bfc7d8;
}

/* FILTERS
// ------------------------- */
.aisdemo-filters .aisdemo-filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dce0e0;
}

.aisdemo-filters .aisdemo-filter-title {
  font-size: 1em;
  font-weight: normal;
  padding-top: 9px;
  padding-left: 30px;
}

.aisdemo-filters .date,
.aisdemo-filters #guests select {
  font-size: 0.8em;
  padding: 8px 10px;
  border: 1px solid #dce0e0;
}

.aisdemo-filters #guests select {
  width: 100%;
  padding-right: 20px;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aisdemo-filters #guests select:focus {
  outline: none;
}

.aisdemo-filters .guests-caret::before {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 20px;
  width: 2em;
  padding-top: 0.8em;
  content: '\25bc';
  text-align: center;
  pointer-events: none;
  color: #82888a;
}

em{
  background-color: red !important;
}

.aisdemo-filters #room_types .ais-RefinementList-count {
  display: none;
}

.aisdemo-filters #room_types .ais-RefinementList-item {
  display: inline-block;
  cursor: pointer;
}
.aisdemo-filters #room_types .ais-RefinementList-item label {
  font-size: 0.8em;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  padding: 9px 10px 7px;
  background: #edefed;
}

.aisdemo-filters #room_types .ais-RefinementList-checkbox {
  position: relative;
  bottom: 3px;
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-left: 20px;
  vertical-align: top;
  border: 1px solid #dce0e0;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aisdemo-filters #room_types .ais-RefinementList-checkbox:focus {
  outline: none;
}

.aisdemo-filters
  #room_types
  .ais-RefinementList-item--selected
  .ais-RefinementList-checkbox::before {
  font-size: 0.85em;
  position: absolute;
  width: 1.25em;
  content: '\2713';
  text-align: center;
  color: #ff5a5f;
}

.aisdemo-filters #price .ais-RangeSlider-target {
  margin: 30px 9px 18px;
}

.aisdemo-filters #price .ais-RangeSlider-handle {
  border-color: #ff585b;
}

.aisdemo-filters #price .rheostat-progress {
  background-color: #ff585b !important;
}

.aisdemo-filters #price .rheostat-tooltip {
  font-size: 0.8em;
}

/* STATS
// ------------------------- */
#stats {
  font-size: 1em;
  font-weight: normal;
  float: right;
  background: #fff;
  padding: 0px 7px;
  box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
}

/* MAP
// ------------------------- */
#map {
  height: 418px;
}

.ais-GeoSearch,
.ais-GeoSearch-map {
  height: 100%;
}

.ais-GeoSearch-reset {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ff585b;
  color: #fff;
  padding: 5px;
  border-radius: 33px;
  font-size: 0.85em;
}

/* RESULTS
// ------------------------- */

#hits .ais-Hits-list {
  list-style: none;
}
#hits .ais-Hits-list .hit .pictures-wrapper {
  position: relative;
}
#hits .ais-Hits-list .hit .pictures-wrapper .picture {
  width: 100%;
}
#hits .ais-Hits-list .hit .pictures-wrapper .profile {
  position: absolute;
  bottom: -16px;
  right: 12px;
  width: 60px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}
#hits .ais-Hits-list .hit .infos {
    height: 90px;
    padding: 6px 6px;
}
#hits .ais-Hits-list .hit .infos h4 {
  font-size: 1em;
  font-weight: normal;
}
#hits .ais-Hits-list .hit .infos p {
  font-size: 0.8em;
  color: #949697;
}
#hits .ais-Hits-list .hit .infos em {
  font-style: normal;
  color: #ff585b;
}

/* PAGINATION
// ------------------------- */
#pagination {
  text-align: center;
}
#pagination .ais-Pagination-list {
  justify-content: center;
  margin: 20px 0;
}
#pagination .ais-Pagination-item {
  display: inline-block;
  margin: 1px;
  padding: 3px;
}
#pagination .ais-Pagination-link {
    <% if  @categorias == "Salud" %>
      color:  #0cc3f3 !important;
    <% elsif @categorias == "Mascotas" %>
      color: #DE12A1 !important;
      <% elsif @categorias == "Construccion" %>
      color: #FD9E04 !important;
    <% end -%>
  border-radius: 4px;
  background: transparent;
}
#pagination .pagination > .active > a {
    <% if  @categorias == "Salud" %>
      background:  #0cc3f3 !important;
      border-color: #fff;
      color: #fdfdfdfc !important;
    <% elsif @categorias == "Mascotas" %>
      background: #DE12A1 !important;
      border-color: #fff;
      color: #fdfdfdfc !important;
      <% elsif @categorias == "Construccion" %>
      background: #210554 !important;
      border-color: #FD9E04;
      color: #fdfdfdfc !important;
    <% end -%>
}
#pagination .pagination > li > a:focus,
#pagination .pagination > li > a:hover,
#pagination .pagination > li > span:focus,
#pagination .pagination > li > span:hover {
  color: #ffffff !important;
  border-color: #0cc3f3;
  background: #0cc3f3;
}

.breadcrumb{
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 0;
    background: transparent;
    overflow: hidden;
    border-radius: 0;
    position: relative;
    margin-bottom: 13px;
}
.breadcrumb li{
    float: left;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
}
.breadcrumb li:last-child{
    padding: -7px 18px;
    margin-right: 0;
    color: #fff;
    position: relative;
}
.breadcrumb li:before{ display: none; }
.breadcrumb li a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
@media only screen and (max-width: 767px){
    .breadcrumb li{ margin-right: 3px; }
    .breadcrumb li a,
    .breadcrumb li:last-child{ padding: 10px; }
}
@media only screen and (max-width: 479px){
    .breadcrumb li{ margin-right: 3px; }
    .breadcrumb li a,
    .breadcrumb li:last-child{
        font-size: 13px;
        font-weight: normal;
        padding: 4px 3px;
    }
}



</style>