<div class="background">
  <nav>
    <div class="row" style="padding-top: 35px">
      <div class="col-md-9 logo" >
          <a href="" ><img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/374/1.png"></a>
        </div>
      <div class="col-md-3 ingresar-parent">
          <% if user_signed_in? %>
              <a href="/reemper/home" class="ingresar_login">Home</a>
            <% else %>
              <a href="" class="ingresar_login" data-toggle="modal" data-target="#exampleModalCenter">Ingresar</a>
          <% end %>
      </div>
    </div>
   </nav>
    <div class="row">


      <div class="col-md-9 offset-md-1 info" >

          <div class="col-md-12">
            <button class="ingresar link_salud margin-right" type="" id="salud">Salud</button>
            <button class="ingresar link_mascotas margin-right" type="" id="masko">Mascotas</button>
          </div>

          <div class="col-md-12" style="margin-top: 20px">
            <button class="ingresar link_construccion margin-right" type="" id="cons">Construccion</button>
            <button class="ingresar link_legal margin-right" type="" id="legal">Reemper</button>
          </div>
          <div class="col-md-12" style="margin-top: 20px">
            <button class="ingresar link_lagal1 margin-right" type="" id="legal-2">Legal</button>
          </div>
        <div class="col-md-12 form-search" >
          
        
        <%= form_tag browser_path, :method => 'post' do %>

        <div class="row" >


          <div class="col-md-5 " >

            <select name="" class="form form-control select" style="display: none;" id="imput-salud">
            <option value="">Selecciona una especialidad de salud</option>
              <% @specialties.each do |espec|  %>
                 <option><%= espec.name %></option>
              <% end %>
            </select>
              <select name="" class="form form-control select" style="display: none;" id="imput-masco" >
               <option value="">Selecciona una especialidad de mascotas</option>
                <% @specmas.each do |espec|  %>
                   <option><%= espec.name %></option>
                <% end %>
              </select>  
            <select name="search2" class="form form-control select" style="display: none;" id="imput-const">
              <option value="">Selecciona una especialidad de construccion</option>
              <% @specate.each do |espec|  %>
                 <option><%= espec.name %></option>
              <% end %>
            </select>

            <select name="" class="form form-control select" style="display: none;" id="legal-imput" >
               <option value="">Selecciona una especialidad en legalidad</option>
                <% @specilegal.each do |espec|  %>
                   <option><%= espec.name %></option>
                <% end %>
            </select>  

              <div style="display: none;" id="imput-legal">
                 <input name="email" placeholder="Nombre,Ciudad" id="q" class="form form-control" >
              </div>
              
          </div>

          <%= hidden_field_tag :category_id, nil , id: "category_id" %>
          <%= hidden_field_tag :specialties, nil, id: "specialties" %>
          <%= hidden_field_tag :legal, nil, id: "legal" %>

        
          <%= hidden_field_tag :city,params[:city], autocomplete: "off", id: "city" %>

         

          <div class="col-md-4 text-center search-map" style="display: none;">
              <%= text_field_tag :search2,params[:search1], autocomplete: "off", placeholder: "En la Ciudad", class: "form form-control city ss" , id: "autocomplete" %>
          </div>
          <div class="col-md-2 ">
             <%= button_tag class: "submit1", :title => "Buscar" , style:"display:none" do %>
              Buscar <i class="fas fa-arrow-right icon-row"></i>            
            <% end -%> 
            </div>  
        </div>
            
        <% end -%>
         </div> 

         <h2 style="font-size: 25px;margin-right: 20px;">Selecciona la categoía <br> de tu interés</h2>
      </div>
    </div>
</div>


  <div class="info-reemper">
    <div class="container">
      <h1 class="text-center">Hazte miembro de nuestra <br>
         comunidad Reemper</h1><br><br>
         <div class="row info-text">
           <div class="col-md-6" >
             <h3>Genera ingresos extra</h3>
             <p>Ofrece tus servicios como profesional
                a miles de usuarios, y recibe el pago
                de tus servicios.</p>
                <button id="btn-1">Ampliar</button>
           </div>
            <div class="col-md-6" style="padding-left: 50px;padding-right: 0px;">
             <h3>Genera ingresos extra</h3>
             <p>Ofrece tus servicios como profesional
                a miles de usuarios, y recibe el pago
                de tus servicios.</p>
                <button id="btn-2">Ampliar</button>
           </div>
         </div>  
           <div class="row info-text">
           <div class="col-md-6">
             <h3>Genera ingresos extra</h3>
             <p>Ofrece tus servicios como profesional
                a miles de usuarios, y recibe el pago
                de tus servicios.</p>
                <button id="btn-3">Ampliar</button>
           </div>
           <div class="col-md-6" style="padding-left: 50px;padding-right: 0px;">
             <h3>Genera ingresos extra</h3>
             <p>Ofrece tus servicios como profesional
                a miles de usuarios, y recibe el pago
                de tus servicios.</p>
                <button id="btn-4">Ampliar</button>
           </div>
         </div>



         </div>
  </div>






<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var client = algoliasearch('DJ3JJMGZSP', '0f9abe035e333810031a60c33a56907c');

    var template = Hogan.compile(
      '<div class="card reemper-card col-md-10" style="margin-top: 10px; margin-bottom: 10px;">'+
        '<div class="card-body card-reemp">'+

          '<div class="container">'+
            '<div class="row">'+

              '<div class="col-md-3 no-padding">'+
                '<img src="{{{_highlightResult.user.avatar.value}}}" alt="" class="img-xs rounded-circle">'+
              '</div>'+

              '<div class="col-md-9 no-padding">'+
                '<h5>{{{_highlightResult.user.name.value}}}</h5>'+
                '<span><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span><br>'+
                '<p>{{{_highlightResult.user.email.value}}}</p>'+
              '</div>'+

              '<div class="col-md-6 float-right">'+
                '<%= link_to "Ver Registro",  CGI::unescape(reemper_registration_path("{{user.name}}")), target: '_blank', class: "reemper-show" %>'+
              '</div>'+

            '</div>'+
          '</div>'+

        '</div>'+
      '</div>'

      );
    var ac = autocomplete('#q', { hint: true }, {
      source: autocomplete.sources.hits(client.initIndex('Reemper_production'), { hitsPerPage: 5 }),
      displayKey: 'email',
      templates: {
        suggestion: function(hit) {
          return template.render(hit);
        }
      }
    }).on('autocomplete:selected', function(event, suggestion) {
      console.log('onselected', suggestion);
    });

    $('.search-terms a').click(function(e) {
      ac.autocomplete.setVal($(this).text());
      ac.autocomplete.open();
      ac.focus();
    })
  });
</script>



<style type="text/css" media="screen">
  .msg{
        display: block;
    text-align: center;
    width: 100%;
    background: blue;
    color: white;
    padding: 25px;
    margin:0px;
  }

.flex-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.form-search
{
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 50px;
}
.city
{
margin: 5px 0px;
}
  h1 {
  margin-bottom: 1rem;
}

.algolia-autocomplete{
  width: 100% !important;
  
}

.img-xs{
  width: 80px;
  height: 80px;
}

.reemper-card{
  box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
}

.card-reemp{
  padding: 5px !important;
}
em {
  background: cyan;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.ais-hits {
  margin-top: 1em;
}

.hit-name {
  margin-bottom: 0.5em;
}


.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}


.hit-id {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}

</style>

<%= render "parciales/sesion" %>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en&key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg"></script>
<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input,{types: ['(cities)']});
      google.maps.event.addListener(autocomplete, 'place_changed', function(){
         var place = autocomplete.getPlace();
         console.log(place);
         console.log(place.name);
         //document.getElementById("place_id").value = place.place_id;
         document.getElementById("city").value = place.name;
      })

    

    var salud = document.getElementById("salud");
    var masco = document.getElementById("masko");
    var cons = document.getElementById("cons");
    var legal = document.getElementById("legal");
    var legal2 = document.getElementById("legal-2")

    var imputsa = document.getElementById("imput-salud");
    var imputmas = document.getElementById("imput-masco");
    var imputconst = document.getElementById("imput-const");
    var imputlegal = document.getElementById("imput-legal");
    var legalimput   = document.getElementById("legal-imput")


     $('.select').change(function(event) {

        $("#specialties").val($(this).val());
     });



    $(salud).click(function(event) {
      $("#category_id").val($(this).text());
      $(".form-search").css('background','#09b8fa8a')
      $(this).addClass('opacidad');
      $(".search-map").show("linear");
      $(".submit1").show('linear');

      $(masco).removeClass('opacidad');
      $(cons).removeClass('opacidad');
      $(legal).removeClass('opacidad');
      $(legalimput).hide("linear");  
      $(imputsa).show("linear");
      $(imputmas).hide("linear");
      $(imputconst).hide("linear");
      $(imputlegal).hide("linear");
    });

    $(masco).click(function(event) {
      $("#category_id").val($(this).text());
      $(this).addClass('opacidad');
       $(".form-search").css('background','#e059a166')
      $(".submit1").show('linear');
      $(".search-map").show("linear");
      $(salud).removeClass('opacidad');
      $(cons).removeClass('opacidad');
      $(legal).removeClass('opacidad');

      $(imputmas).show("linear"); 
      $(imputsa).hide("linear"); 
      $(imputconst).hide("linear"); 
      $(imputlegal).hide("linear"); 
      $(legalimput).hide("linear");     
    });

    $(cons).click(function(event) {
      $("#category_id").val($(this).text());
      $(this).addClass('opacidad');
       $(".form-search").css('background','#fda03b78')
      $(".submit1").show("linear");
      $(salud).removeClass('opacidad');
      $(masco).removeClass('opacidad');
      $(legal).removeClass('opacidad');
      $(".search-map").show("linear");
      $(imputconst).show("linear");  
      $(imputmas).hide("linear"); 
      $(imputsa).hide("linear"); 
      $(imputlegal).hide("linear"); 
      $(legalimput).hide("linear");
    });

    $(legal).click(function(event) {
      $("#category_id").val($(this).text());
      $(this).addClass('opacidad');
       $(".form-search").css('background','#9f6cde69')
            $(".submit1").show("linear");
      $(salud).removeClass('opacidad');
      $(masco).removeClass('opacidad');
      $(cons).removeClass('opacidad');
      $(".search-map").hide("linear");
      $(imputlegal).show("linear");  
      $(imputconst).hide("linear");  
      $(imputmas).hide("linear"); 
      $(imputsa).hide("linear");  
      $(legalimput).hide("linear");  
    });

    $(legal2).click(function(event) {
      $("#legal").val($(this).text());
      $(this).addClass('opacidad');
       $(".form-search").css('background','#0b255b')
      $(salud).removeClass('opacidad');
      $(masco).removeClass('opacidad');
      $(cons).removeClass('opacidad');
      $(legal).removeClass('opacidad');
      $(".search-map").show("linear");
      $(".submit1").show("linear");
      $(legalimput).show("linear");
      $(legalimput).addClass('margin');
      $(imputlegal).hide("linear");  
      $(imputconst).hide("linear");  
      $(imputmas).hide("linear"); 
      $(imputsa).hide("linear");    
    });

  });

<% if @messaje.present? %>
  toastr["error"]("<%= @messaje %>");
<% end -%>

$("#btn-1").click(function () {   
  if (this.text() == "Ampliar") {
    alert("Ampliar");
  } else if (this.text()== "Reducir") {
    alert("Reducir");
  }
});




</script>

<style type="text/css" media="screen">


  .search-map{
    float: right;
   
  }

  .margin{
        margin-top: 5px;
  }

  #icon-check{
    position: absolute;
    left: 60px;
    top: 9px;
    display: none;
  }

  #icon-masco{
    position: absolute;
    left: 213px;
    top: 9px;
    display: none;
  }

  #icon-cons{
    position: absolute;
    left: 106px;
    top: 9px;
    display: none;
  }

  #icon-legal{
    position: absolute;
    left: 280px;
    top: 9px;
    display: none;
  }

  .show{
    display: block;
  }

  .hide{
    display: none;
  }

  #imput-masco{margin: 5px 0px; padding-left: 14px;}
  #imput-const{margin: 5px 0px; padding-left: 14px;} 
  #imput-salud{margin: 5px 0px; padding-left: 14px;}
  #imput-legal{margin: 5px 0px;}
  
  .h3{
    margin-left: 3px;
    margin-top: 0px;
  }

  #imput-masco .form{
    border-radius: 25px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  #imput-const .form{
    border-radius: 25px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  #imput-salud .form{
    border-radius: 25px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  #imput-legal .form{
    border-radius: 25px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  .opacidad{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  .icon-row{
    color: #fff;
    margin-left: 5px;
  }

  .submit1{
    border-radius: 15px;
    border: none;
    background-color: #9B25DE;
    margin-top: 5px;
    width: 120px;
    padding: 5px;
    color: white;
    font-weight: bold;
  }

  .hit-auto-complete{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
  }

  .chosen-container-single .chosen-single{
    border: 1px solid #f2f2f2;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    padding: 0.56rem 0.75rem;
    line-height: 14px;
    font-weight: 300;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  .chosen-single{
    background: white !important;
  }

  em{
    background-color: red;
  }

  .display{
    display: none;
  }

  .card-input{
    position: relative;
    top: -250px;
  }


  .modal-open{
    padding: 0px !important;

  }




  
</style>