<div class="background">
  <nav>
    <div class="row" style="padding-top: 35px">
      <div class="col-md-9 logo" >
          <a href="" ><img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/369/Screenshot_from_2019-01-16_18-54-24.png"></a>
        </div>
      <div class="col-md-3 ingresar-parent">
          <a href="" class="ingresar_login" data-toggle="modal" data-target="#exampleModalCenter">Ingresar</a>
        </div>
    </div>
    
    
    <div class="row">
      <div class="col-md-9 offset-md-1 info" >
          <div class="col-md-12">
            <button class="ingresar link_salud margin-right" type="" id="salud">Salud</button>
            <i class="fas fa-check" id="icon-check"></i>
            <button class="ingresar link_mascotas margin-right" type="" id="masko">Mascotas</button>
            <i class="fas fa-check" id="icon-masco"></i>
          </div>

          <div class="col-md-12" style="margin-top: 20px">
            <%#= link_to "Construcción", browser_path(:especialidad => 2), class: "ingresar link_construccion margin-right", id: "cons" %>
            <button class="ingresar link_construccion margin-right" type="" id="cons">Construcción</button>
            <i class="fas fa-check" id="icon-cons"></i>
            <button class="ingresar link_legal margin-right" type="" id="legal">Legal</button>
            <i class="fas fa-check" id="icon-legal"></i>
          </div>

        <%= form_tag browser_path, :method => 'get' do %>

          <div class="col-md-6" style="display: none;" id="imput-salud">
            <%= select_tag 'category_id', options_for_select(get_category.collect{ |u| [u.name, u.id] }),{:class => "form-control chosen-select1", id: "validationCustom01", :prompt => 'Especiadad(Cirugia Plastica)'}%>

            <%= button_tag class: "submit1", :title => "Buscar" do %>
              <i class="fas fa-arrow-right icon-row"></i>            
            <% end -%>

          </div>

          <div class="col-md-6" id="imput-masco" style="display: none;">
            <%= text_field_tag :search,params[:search], autocomplete: "off", placeholder: "mascotas", class: "form form-control"%>
            <%= button_tag class: "submit1", :title => "Buscar" do %>
              <i class="fas fa-arrow-right icon-row"></i>            
            <% end -%>
          </div>

          <div class="col-md-6" style="display: none;" id="imput-const">
            <%= text_field_tag :search1,params[:search1], autocomplete: "off", placeholder: "construccion", class: "form form-control"%>
            <%= button_tag class: "submit1", :title => "Buscar" do %>
              <i class="fas fa-arrow-right icon-row"></i>            
            <% end -%>

          </div>

          <div class="col-md-6" style="display: none;" id="imput-legal">
            <%= text_field_tag :search2,params[:search2], autocomplete: "off", placeholder: "legal", class: "form form-control"%>
            <%= button_tag class: "submit1", :title => "Buscar" do %>
              <i class="fas fa-arrow-right icon-row"></i>            
            <% end -%>
          </div> 

        <% end -%>

      </div>
    </div>

    <div class="col-md-7 offset-md-1">

        <h3 class="h3">
          Selecciona la categoría <br> de tu interés
        </h3>

    </div>


<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class=""><a class="" href="#Section1" aria-controls="home" role="tab" data-toggle="tab" id="btn-tab">Iniciar Sesion</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab" id="btn-tab1">Crear Cuenta</a></li>
                  </ul>
                    <!-- Tab panes -->
                  <div class="tab-content tabs">
                  <div role="tabpanel" class="tab-pane animated bounceInLeft in active" id="Section1">
                          <%= render "devise/sessions/new" %>
                  </div>
                  <div role="tabpanel" class="tab-pane animated bounceInRight" id="Section2">
                          <%= render "devise/registrations/new_user"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script type="text/javascript">
    $("#salud").click(function(event) {
      $("#imput-masco").hide("linear");
    });
  $(document).ready(function() {

    var salud = document.getElementById("salud");
    var masco = document.getElementById("masko");
    var cons = document.getElementById("cons");
    var legal = document.getElementById("legal");

    var imputsa = document.getElementById("imput-salud");
    var imputmas = document.getElementById("imput-masco");
    var imputconst = document.getElementById("imput-const");
    var imputlegal = document.getElementById("imput-legal");

    var icon_salud = document.getElementById("icon-check");
    var icon_masco = document.getElementById("icon-masco");
    var icon_cons = document.getElementById("icon-cons");
    var icon_legal = document.getElementById("icon-legal");

    $(salud).click(function(event) {
      $(this).addClass('opacidad');

      $(icon_salud).addClass('show');
      $(icon_masco).removeClass('show').addClass('hide')
      $(icon_cons).removeClass('show').addClass('hide')
      $(icon_legal).removeClass('show').addClass('hide')

      $(masco).removeClass('opacidad');
      $(cons).removeClass('opacidad');
      $(legal).removeClass('opacidad');

      $(imputsa).show("linear");
      $(imputmas).hide("linear");
      $(imputconst).hide("linear");
      $(imputlegal).hide("linear");
    });

    $(masco).click(function(event) {
      $(this).addClass('opacidad');
      
      $(icon_masco).addClass('show');
      $(icon_salud).removeClass('show').addClass('hide');
      $(icon_cons).removeClass('show').addClass('hide')
      $(icon_legal).removeClass('show').addClass('hide')


      $(salud).removeClass('opacidad');
      $(cons).removeClass('opacidad');
      $(legal).removeClass('opacidad');

      $(imputmas).show("linear"); 
      $(imputsa).hide("linear"); 
      $(imputconst).hide("linear"); 
      $(imputlegal).hide("linear");       
    });

    $(cons).click(function(event) {
      $(this).addClass('opacidad');

      $(icon_cons).addClass('show');
      $(icon_masco).removeClass('show').addClass('hide');
      $(icon_salud).removeClass('show').addClass('hide');
      $(icon_legal).removeClass('show').addClass('hide');

      $(salud).removeClass('opacidad');
      $(masco).removeClass('opacidad');
      $(legal).removeClass('opacidad');

      $(imputconst).show("linear");  
      $(imputmas).hide("linear"); 
      $(imputsa).hide("linear"); 
      $(imputlegal).hide("linear"); 
    });

    $(legal).click(function(event) {
      $(this).addClass('opacidad');

      $(icon_legal).addClass('show');
      $(icon_cons).removeClass('show').addClass('hide');
      $(icon_masco).removeClass('show').addClass('hide');
      $(icon_salud).removeClass('show').addClass('hide');

      $(salud).removeClass('opacidad');
      $(masco).removeClass('opacidad');
      $(cons).removeClass('opacidad');

      $(imputlegal).show("linear");  
      $(imputconst).hide("linear");  
      $(imputmas).hide("linear"); 
      $(imputsa).hide("linear");    
    });

  });

</script>

<style type="text/css" media="screen">

  li > .active{
    border: 1px solid #01BAFE !important;
    background: #fff !important;
    color: #01BAFE !important;
  }

  #icon-check{
    position: absolute;
    left: 60px;
    top: 9px;
    display: none;
  }

  #icon-masco{
    position: absolute;
    left: 213px;
    top: 9px;
    display: none;
  }

  #icon-cons{
    position: absolute;
    left: 106px;
    top: 9px;
    display: none;
  }

  #icon-legal{
    position: absolute;
    left: 280px;
    top: 9px;
    display: none;
  }

  .show{
    display: block;
  }

  .hide{
    display: none;
  }

  #imput-masco{margin-top: 26px;}
  #imput-const{margin-top: 26px;}
  #imput-salud{margin-top: 26px;}
  #imput-legal{margin-top: 26px;}

  .h3{
    margin-left: 3px;
    margin-top: 0px;
  }

  #imput-masco .form{
    border-radius: 5px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  #imput-const .form{
    border-radius: 5px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  #imput-salud .form{
    border-radius: 5px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  #imput-legal .form{
    border-radius: 5px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  .opacidad{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  .icon-row{
    color: #fff;
  }

  .submit1{
    border-radius: 15px;
    border: none;
    background-color: #9B25DE;
    z-index: 1;
    position: relative;
    float: right;
    top: -32px;
    width: 72px;
    padding: 3px;
  }


  @media (max-width: 576px) {

    #btn-tab{
      width: 100% !important;
      left: -1px !important;
    }

    #btn-tab1{
      width: 100% !important;
      left: -1px !important;
    }
  
  }

  .hit-auto-complete{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
  }

  .chosen-container-single .chosen-single{
    border: 1px solid #f2f2f2;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    padding: 0.56rem 0.75rem;
    line-height: 14px;
    font-weight: 300;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  }

  .chosen-single{
    background: white !important;
  }

  em{
    background-color: red;
  }

  .display{
    display: none;
  }

  .card-input{
    position: relative;
    top: -250px;
  }

  .modal-backdrop{
    background-color: transparent !important;
  }

  .modal-open{
    padding: 0px !important;

  }
    .label{
    color: gray;
  }
  .btn1{
      border-radius: 17px;
      border: none;
      padding: 5px;
      width: 52%;
      cursor: pointer;
      background: linear-gradient(to right, #ff8c00, #ff0080); 
      color: #fff;
  }
    .form1{
    border-radius: 21px;
    margin-bottom: 5px;
    background: #c5c5c512 !important;
  }
  a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    border: none;
    margin-bottom: 10px;
}
#btn-tab{
    display: block;
    padding: 10px;
    margin: 0 10px 0 0;
    background: #fcfcfc;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    width: 177%;
    left: -8px;
    background: #01BAFE;
    border: 1px solid #eee;
    border-radius: 27px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
}

#btn-tab1:hover{
  border: 1px solid #01BAFE !important;
  background: #fff !important;
  color: #01BAFE !important;
}

#btn-tab:hover{
  border: 1px solid #01BAFE !important;
  background: #fff !important;
  color: #01BAFE !important;
}



#btn-tab1{
    display: block;
    padding: 10px;
    margin: 0 10px 0 0;
    background: #fcfcfc;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    width: 162%;
    left: 95px;
    background: #01BAFE;
    border: 1px solid #eee;
    border-radius: 27px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
}


.tab .nav-tabs li a:after{
    background: #000;
    transition: all 0.4s ease-in 0.3s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li.active a:after{
    opacity: 1;
    transform: scale(4);
}
.tab .tab-content{
    margin-top: 0;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;
    position: relative;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 767px){
    .tab .nav-tabs li a{ padding: 7px 15px; }
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .nav-tabs li a:before,
    .tab .nav-tabs li a:after{
        width: 100%;
    }
}
</style>