<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialty.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @specialty.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @specialty.category_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @specialty.code %>
</p>

<%= link_to 'Edit', edit_specialty_path(@specialty) %> |
<%= link_to 'Back', specialties_path %>
