<div id="product-modal" class="modal fade">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header padding-lef">
            <div class="container-fluid">
              <div class="col-md-9">
                  <% if action_name == "edit"%>
                    <h4 class="modal-title">Editar Subspeciadad</h4>
                  <%else%>
                    <h4 class="modal-title">Crear Nuevo Subspeciadad</h4>
                  <% end -%>
              </div>    
            </div>
        </div>
      <%= form_with(model: subspecialty, local: true) do |form| %>
        <div class="modal-body">
            <% if subspecialty.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(subspecialty.errors.count, "error") %> prohibited this subspecialty from being saved:</h2>

                <ul>
                <% subspecialty.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-row">
              <div class="col-md-6">
                <%= form.label :Nombre %>
                <%= form.text_field :name, class: "form form-control" %>
              </div>

              <div class="col-md-6">
                <%= form.label "Pertenece A la Especialidad" %>
                <%= select_tag 'specialty_id', options_for_select(get_category.collect{ |u| [u.name, u.id] }),{:class => "form-control", :prompt => 'Selecciona Una Categoria', id: "validationCustom01", :required => true}%>
                <br>
              </div>
            </div>

            <div class="col-md-12 no-padding">
              <%= form.label :Codigo %>
              <%= form.text_field :code, class: "form form-control" %>
              <br>
            </div>

            <div class="col-md-12 no-padding">
              <%= form.label :description %>
              <%= form.text_area :description, class: "form form-control" ,:rows => 10 %>
              <br>
            </div>
        </div>

      <div class="modal-footer">
        <%= form.submit "Guardar", class: "btn btn-success" %>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
      </div>

      <% end %>

    </div>
  </div>
</div>



