<legend>Subspeciadades</legend>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Especialidad</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Codigo</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @subspecialties.each do |subspecialty| %>
      <tr>
        <td><%= subspecialty.specialty_id %></td>
        <td><%= subspecialty.name %></td>
        <td><%= subspecialty.description %></td>
        <td><%= subspecialty.code %></td>
        <td>
          <%= link_to edit_subspecialty_path(subspecialty), remote: true, class: "btn btn-info" do %>
            <i class="fas fa-edit"></i>
          <% end -%>

          <%= link_to subspecialty, method: :delete, data: {
                confirm: '¿Estas Seguro?',
                'confirm-button-text': 'Borrar',
                'cancel-button-text': 'Cancelar',
                'confirm-button-color': '#CC0000',
                 text: 'Recuerda que el registro se borrara permanentemente',
                'image-url': ''}, class: "btn btn-danger" do %>
              <span class="glyphicon glyphicon-trash"></span> 
          <% end -%>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>