<h1>Subspeciadad</h1>

<table class="table">
  <thead>
    <tr>
      <th>Especialidad</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Codigo</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @subspecialties.each do |subspecialty| %>
      <tr>
        <td><%= subspecialty.specialty_id %></td>
        <td><%= subspecialty.name %></td>
        <td><%= subspecialty.description %></td>
        <td><%= subspecialty.code %></td>
        <td><%= link_to 'Edit', edit_subspecialty_path(subspecialty) %></td>
        <td><%= link_to 'Destroy', subspecialty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal-footer">
  <%= link_to 'Nueva Subspecialidad', new_subspecialty_path, class: "btn btn-success"%>
</div>