<%= render "parciales/menu_show"%>

<div class="container no-padding">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb no-padding-left">
    <li class="breadcrumb-item"><a href="/home/index">Pagina de Inicio</a></li>
    <li class="breadcrumb-item"><a href="#"><%= @reemper.category.name if @reemper.category %></a></li>
    <li class="breadcrumb-item"><a href="#"><%= @reemper.city %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @reemper.user.names if @reemper.user %></li>
  </ol>
</nav>

<div class="float-right col-md-6">
  <div class="email-signature email-padding">
    <% if @consultorio.any? %>
    <% @consultorio.each do |consul| %>
      <legend>Consutorio</legend>
      <div class="form-row">

        <div class="col-md-6">
          <strong>Ciudad</strong>
          <p><%= consul.city %></p>          
        </div>

        <div class="col-md-6">
          <strong>Direccion</strong>
          <p><%= consul.address %></p>
        </div>

        <br><br>

        <div class="col-md-6 no-padding">
          <a class="lightboxgallery-gallery-item" target="_blank" href="<%= consul.first_photo_url() %>" data-title="<%= @reemper.user.names %>" data-alt="Ness Joshua" data-desc="MI Consultorio">
            <%= consul.first_photo? ? image_tag(consul.first_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
          </a>
        </div>

        <div class="col-md-6 ">
          <a class="lightboxgallery-gallery-item" target="_blank" href="<%= consul.sub_photo_url() %>" data-title="<%= @reemper.user.names %>" data-alt="Ness Joshua" data-desc="MI Consultorio">
            <%= consul.first_photo? ? image_tag(consul.sub_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
          </a>
        </div>

      </div>
      <br>

      <legend>Localizacion</legend>
      <div id="map1"></div>

      <script type="text/javascript">
      function initMap1() {
          var myLatLng = {lat: <%= consul.lat %>, lng: <%= consul.lng %>};

            // Create a map object and specify the DOM element
            // for display.
          var map = new google.maps.Map(document.getElementById('map1'), {
            center: myLatLng,
            zoom: 5
          });

          // Create a marker and set its position.
          var marker = new google.maps.Marker({
            map: map,
            position: myLatLng,
            title: 'Hello World!'
          });
        }
      </script>

      <br>

      <div class="col-md-12 text-center float-right no-padding-right">

        <%= link_to :back, class: "btn btn-outline-success" do  %>
          <i class="far fa-calendar-alt"></i> Agendar Cita
        <% end -%>

        <% if user_signed_in?  %>
          <% if @reemper.user.id == current_user.id  %>
          <% else %>
            <%= link_to "Enviar Pregunta", new_contac_reemper_path(:reemper => @reemper.id), remote: true, class: "btn btn-primary" %>
          <% end -%>

          
          <% else %>
            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
              <i class="fas fa-sign-in-alt"></i> Ingresa Para Enviar Mensaje
            </button>
        <% end -%>

      </div>

    <% end -%>
    
    <% else %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <b class="text-center">ESTA PERSONA NO HA LLENADO ESTA INFORMACION</b>
      </div>
    </div>

    <% end -%>
  </div>
</div>


<div class="col-md-6 col-sm-12 no-padding">
  <div class="email-signature">

    <div class="signature-img">
      <a class="lightboxgallery-gallery-item" target="_blank" href="<%= @reemper.user.avatar_url()%>" data-title="<%= @reemper.user.names %>" data-alt="Ness Joshua" data-desc="Yo">
        <img src="<%= @reemper.user.avatar_url()%>" alt="">
      </a>
    </div>

    <div class="signature-details">
      <h2 class="title"><%= @reemper.user.names if @reemper.user %></h2>
      <span class="post"><%= @reemper.category.name if @reemper.category %></span>
    </div>

    <ul class="signature-content">
      <li><span class="fas fa-map-marker-alt"></span> <%= @reemper.specialty.name if  @reemper.specialty %></li>
      <li><span class="fa fa-envelope"></span> <%= @reemper.user.email %> </li>
      <li><span class="fas fa-mobile-alt"></span> <%= @reemper.user.phone %> </li>

     <% if user_signed_in? %>
      <% if @reemper.user.id == current_user.id  %>
      <% else %>
        <li style="display: -webkit-inline-box;"><span class="fas fa-star"></span>
          <form>
            <div class="col-md-12 starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />

              <input type="radio" id="rate1" name="rating" value="1" />
              <label for="rate1">1 star.</label>

              <input type="radio" id="rate2" name="rating" value="2" />
              <label for="rate2">2 stars.</label>

              <input type="radio" id="rate3" name="rating" value="3" />
              <label for="rate3">3 stars.</label>

              <input type="radio" id="rate4" name="rating" value="4" />
              <label for="rate4">4 stars.</label>

              <input type="radio" id="rate5" name="rating" value="5" />
              <label for="rate5">5 stars.</label>

              <span class="starability-focus-ring"></span>
            </div>
          </form>
        </li>
      <% end -%>
     <% end -%>

    </ul>

    <ul class="nav nav-tabs float-right" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informacion Sobre mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Preguntas</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Experiencia</a>
      </li>
    -->
      <li class="nav-item">
        <a class="nav-link" id="valora-tab" data-toggle="tab" href="#valora" role="tab" aria-controls="valora" aria-selected="false">Valoraciones (<%= @valoration.count %>)</a>
      </li>
    </ul>

  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Valorar A <%= @reemper.user.names %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">

          <div class="card col-md-12 no-padding">
            <div class="card-body">

              <div class="container">
                <div class="row">

                  <div class="col-md-3 no-padding-left ">
                     <%= @reemper.user.avatar? ? image_tag(@reemper.user.avatar_url(), class: "img-fluid") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-fluid")%>
                  </div>

                  <div class="col-md-9">
                    <h4> <%= @reemper.user.names %></h4>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p><%= @reemper.user.email %></p>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <%= form_tag reemper_valorations_path, remote: true do %>

            <div class="col-md-12 no-padding">
              <%= label_tag "Opinion" %>
              <%= text_area_tag :description, nil, class: "form form-control", :rows => 8 %>
            </div>

            <%= hidden_field_tag :valoration, nil, id: "valoration" %>
            <%= hidden_field_tag :user_id, nil, :value => current_user.id %>
            <%= hidden_field_tag :reemper_id, nil, :value =>  @reemper.id %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          <%= button_tag "Opinar", {:request => "estiven", class: "btn btn-outline-success", :type => "submit"} %>
        </div>

      <% end -%>
    </div>
  </div>
</div>


<br>


<div class="col-md-6 col-sm-12 no-padding">
  <div class="email-signature email-padding">

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h5>Biografia</h5>
        <p>
          <%== @reemper.biography%>
        </p>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="col-md-12 no-padding">
          <h5>Mis Estudios</h5>
        </div>

        <div class="form-row">

          <div class="col-md-4">
            <strong>Universidad</strong>
            <p><%= @reemper.university%></p>
          </div>

          <div class="col-md-4">
            <strong>Nivel Academico</strong>
            <p><%= @reemper.academy_level %></p>
          </div>

          <div class="col-md-4">
            <strong>Profession</strong>
            <p><%= @reemper.profession %></p>
          </div>

          <div class="col-md-4">
            <strong>Idiomas</strong>
            <p><%= @reemper.language %></p>
          </div>

          <div class="col-md-4">
            <strong>Especialidad</strong>
            <p><%= @reemper.specialty.name if @reemper.specialty %> </p>
          </div>

        </div>



        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-row">

          <div class="col-md-12 no-padding">
              <h5>Redes Sociales</h5>
          </div>

          <div class="col-md-2 text-center no-padding">
              <button class="facebook">
                <i class="fab fa-facebook-f"></i>
              </button>
          </div>

          <div class="col-md-2 text-center no-padding">
            <button class="instagram">
              <i class="fab fa-instagram"></i>
            </button>               
          </div>

          <div class="col-md-2 text-center no-padding">
            <button class="twitter">
              <i class="fab fa-twitter"></i>
            </button>           
          </div>

        </div>


      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="container">
          <div class="row">

              <div class="col-md-3">
                <%= image_tag("https://image.ibb.co/jw55Ex/def_face.jpg", class: "img img-rounded img-fluid ") %>
              </div>

              <div class="body col-md-8">
                <span class="tip tip-left"></span>
                <div class="message">
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specim</span>
                </div>
              </div>
            
              <div class="body col-md-8 float-right">
                <span class="tip tip-right"></span>
                <div class="message">
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </span>
                </div>
              </div>

              <div class="col-md-3 float-right">
                <%= image_tag("https://image.ibb.co/jw55Ex/def_face.jpg", class: "img img-rounded img-fluid ") %>
              </div>

          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <p>
          
        </p>
      </div>

      <div class="tab-pane fade" id="valora" role="tabpanel" aria-labelledby="valora-tab">
        <div class="container">
          <% @valoration.each do |valoracion| %>
            <div class="card">
              <div class="card-body no-padding-card">

                <div class="row">
                      <div class="col-md-2">
                        <%= valoracion.user.avatar? ? image_tag(valoracion.user.avatar_url(), class: "img img-rounded img-fluid ") : image_tag("https://image.ibb.co/jw55Ex/def_face.jpg", class: "img img-rounded img-fluid ")%>
                      </div>
                      <div class="col-md-10">

                          <p>
                              <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong><%= valoracion.user.names %></strong></a>
                              <span class="float-right"><%= get_valoration(valoracion.valoration).html_safe %></span>
                         </p>

                         <br>

                         <div class="clearfix"></div>
                          <p><%= valoracion.description %></p>
                      </div>
                </div>

              </div>
            </div>
          <% end -%>
    
        </div>
      </div>

    </div>

  </div>
</div>

<%= render "parciales/sesion" %>

<style type="text/css" media="screen">
  .card-va{
    border-radius: 4px;
    border: 1px solid gray;
  }

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #181e5a;
}

.tip-left {
  top: 10px;
  left: -24px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -24px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.body {
  position: relative;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 4px solid #181e5a;
}

.message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

  .img-fluid{
    border-radius: 50%;
  }

    .cke_1{
      box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
    }

    .cke_top{
      border-bottom: none;
    }

    .cke_bottom{
      border-top: none;
    } 

    .no-padding-card{
     padding: 0px !important; 
    }
.nav-link > .active{
    color: #fff !important;
    border: initial !important;
    background: initial !important;
}


.email-signature{
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 50px 20px 15px 79px;
    overflow: hidden;
    position: relative;
}

.email-signature:before{
    content: "";
    /*background: linear-gradient(to right,#181e5a 49%,#181e5a75 50%);*/
    width: 18px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.email-signature .signature-img{
    background: #fff;
    width: 140px;
    height: 140px;
    padding: 3px;
    border-radius: 50%;
    border: 5px solid #181e5a;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 1;
}

.email-signature .signature-img img{
    width: 100%;
    height: 124px;
    border-radius: 50%;
}

.email-signature .signature-details{
    color: #181e5a;
    text-align: center;
    padding: 15px 10px 15px 50px;
    margin-bottom: 20px;
}

.email-signature .title{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.email-signature .post{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.email-signature .signature-content{
    padding: 20px 10px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.email-signature .signature-content:before,
.email-signature .signature-content:after{
    content: "";
    background: #2980b9;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -25px;
}

.email-signature .signature-content:after{
    background: #181e5a;
    height: 80%;
    top: 20px;
    left: -35px;
}

.email-signature .signature-content li{
    color: #95afc0;
    font-size: 16px;
    margin: 0 0 10px;
    display: block;
}

.email-signature .signature-content li span{
    color:#181e5a;
    font-size: 20px;
    text-align: center;
    line-height: 23px;
    height: 23px;
    width: 25px;
    margin: 2px 2px 0 0;
}

.email-padding{
  padding: 30px !important;
}

@media screen and (max-width:576px){
    .email-signature{ padding: 200px 0 15px; }
    .email-signature:before{
        background: linear-gradient(to bottom,#181e5a 49%,#181e5a75 50%);
        width: 100%;
        height: 15px;
    }
    .email-signature .signature-img{
        margin: 0 auto;
        top: 26px;
        left: 0;
        right: 0;
    }
    .email-signature .signature-details{
        padding: 10px;
        border-right: none;
    }
    .email-signature .signature-content{
        text-align: center;
        padding: 0;
    }
    .email-signature .signature-content:before,
    .email-signature .signature-content:after{
        width: 60%;
        height: 4px;
        transform: translateX(-50%);
        top: -103px;
        left: 50%;
    }
    .email-signature .signature-content:after{
        width: 45%;
        top: -112px;
    }
}

</style>
<!--
    <div class="col-md-8 no-padding" style="max-width: 65.33333%;">
      <div class="tab" role="tabpanel">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active" ><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="fas fa-building"></i></span> Mis Consultorios</a></li>
          <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><span><i class="fa fa-briefcase"></i></span> Experiencia</a></li>
        </ul>

        <div class="tab-content tabs">

          <div role="tabpanel" class="tab-pane fade in active" id="Section2">
            <% @consultorio.each do |consul| %>
              <fieldset>
                <legend>Imagenes</legend>
                  <div class="col-md-6">
                    <%= consul.first_photo? ? image_tag(consul.first_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
                  </div>

                  <div class="col-md-6">
                    <%= consul.sub_photo? ? image_tag(consul.sub_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
                  </div>

              </fieldset>

              <fieldset style="margin-top: 10px; margin-bottom: 10px;">
                <legend>Localizacion</legend>
                <div id="map1"></div>
              </fieldset>

              <script type="text/javascript">
              function initMap1() {
                var myLatLng = {lat: <%= consul.lat %>, lng: <%= consul.lng %>};

                // Create a map object and specify the DOM element
                // for display.
                var map = new google.maps.Map(document.getElementById('map1'), {
                  center: myLatLng,
                  zoom: 5
                });

                // Create a marker and set its position.
                var marker = new google.maps.Marker({
                  map: map,
                  position: myLatLng,
                  title: 'Hello World!'
                });
              }
              </script>

            <% end -%>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Section3">
            <fieldset>
              <legend>Sobre mí <i class="fas fa-users"></i> </legend>
                <%== @reemper.biography %>
            </fieldset>
            <br>
            <fieldset>
              <legend> Idiomas <i class="fas fa-globe"></i></legend>
                <%= @reemper.language %>
            </fieldset>
            <br>
            <fieldset>
              <legend>Mis Redes Sociales <i class="fab fa-twitter"></i> </legend>

                <div class="col-md-2 text-center no-padding">
                  <button class="facebook">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                </div>

                <div class="col-md-2 text-center no-padding">
                  <button class="instagram">
                    <i class="fab fa-instagram"></i>
                  </button>               
                </div>

                <div class="col-md-2 text-center no-padding">
                  <button class="twitter">
                    <i class="fab fa-twitter"></i>
                  </button>           
                </div>

            </fieldset>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" id="show-reemper">
        <div class="card-body cardby">
          <div class="col-md-12 img text-center">
                 <%= @reemper.user.avatar? ? image_tag(@reemper.user.avatar_url(), class: "rounded-circle",id: "user-avatar1") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "rounded-circle")%>



          </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <legend class="text-center">Ubicacion <i class="fas fa-map-marked-alt"></i></legend>
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    -->
    </div>
  <br>
</div>


  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg&callback=initMap1"async defer></script>


<script type="text/javascript">


 
 var star1 = document.getElementById("rate1");
 var star2 = document.getElementById("rate2");
 var star3 = document.getElementById("rate3");
 var star4 = document.getElementById("rate4");
 var star5 = document.getElementById("rate5");
 var input = document.getElementById("valoration")

 $(star1).click(function(event) {
  var valor = star1.value
  input.value = valor
  $('#exampleModal').modal('show')
 });

 $(star2).click(function(event) {
  var valor2 = star2.value
    input.value = valor2
  $('#exampleModal').modal('show')
 });


 $(star3).click(function(event) {
  var valor3 = star3.value
    input.value = valor3
  $('#exampleModal').modal('show')
 });


 $(star4).click(function(event) {
  var valor4 = star4.value
    input.value = valor4
  $('#exampleModal').modal('show')
 });


 $(star5).click(function(event) {
  var valor5 = star5.value
    input.value = valor5
  $('#exampleModal').modal('show')
 });


</script>
<style type="text/css" media="screen">

  .show-img img{
    height: 140px;
    width: 140px;
    border-radius: 11px;
  }

  .btn1{
    background-color: #2f7add;
    color: #FFF;
    border: initial;
    border-radius: 7px;
    padding: 10px;
  }

  .btn2{
    color: #5458c3;
    border: initial;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #517adc;
    background-color: #ffff;

  }

  h5{
        color: #6b7270;
  }

  .user-most{
    background-color: #fff;
    border-radius: 6px;
  }

  #show-reemper{
    background-color: #f2f8f9;
    margin-top: 42px;
  }

  .color{
    background-color: #f2f8f9;
  }

  .img img{
    height: 185px;
    margin-bottom: 10px;
  }




  #map{
    height: 177px ;
  }

  #map1{
    height: 177px;
  }



  .facebook{
    background-color: #3b5998;
    color: #fff;
    border-radius: 50%;
    border: none;
    height: 51px;
    width: 54px;
  }

  .instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fff;
    border-radius: 50%;
    border: none;
    height: 51px;
    width: 54px;
  }

  .twitter{
    background-color: #1da1f2;
    color: #fff;
    border-radius: 50%;
    border: none;
    height: 51px;
    width: 54px;
  }

  .cardby{
    padding-left: 1px !important;
    padding-right: 1px !important;
  }

  .gm-control-active{
    background: linear-gradient(120deg, #00e4d0, #5983e8) !important;
  }


  .sticky {
      position: fixed;
      top: 0;
      margin-left: 10px;
      left: 821px;
      width: 356px;
  }

  body{
    background-color: #edeef2;
  }

  .navbar{
    background-color: #fff !important;
    margin-bottom: 10px;
    height: 77px;
  }

  </style>

    <script type="text/javascript">
  jQuery(function($) {
    $(document).on('click', '.lightboxgallery-gallery-item', function(event) {
      event.preventDefault();
      $(this).lightboxgallery({
        showCounter: true,
        showTitle: true,
        showDescription: true
      });
    });
  });
  </script>