<p id="notice"><%= notice %></p>

<p>
  <strong>Document type:</strong>
  <%= @reemper.document_type %>
</p>

<p>
  <strong>Document numer:</strong>
  <%= @reemper.document_numer %>
</p>

<p>
  <strong>Profession card:</strong>
  <%= @reemper.profession_card %>
</p>

<p>
  <strong>Academy leve:</strong>
  <%= @reemper.academy_leve %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @reemper.profession %>
</p>

<p>
  <strong>University:</strong>
  <%= @reemper.university %>
</p>

<p>
  <strong>University state:</strong>
  <%= @reemper.university_state %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @reemper.biography %>
</p>

<p>
  <strong>Language:</strong>
  <%= @reemper.language %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @reemper.specialty_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @reemper.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reemper.user_id %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @reemper.verified %>
</p>

<p>
  <strong>Category name:</strong>
  <%= @reemper.category_name %>
</p>

<p>
  <strong>Specialty name:</strong>
  <%= @reemper.specialty_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @reemper.city %>
</p>

<p>
  <strong>Valoration:</strong>
  <%= @reemper.valoration %>
</p>

<p>
  <strong>Academy level:</strong>
  <%= @reemper.academy_level %>
</p>

<%= link_to 'Edit', edit_reemper_path(@reemper) %> |
<%= link_to 'Back', reempers_path %>
