<%= render "parciales/menu_show"%>
<div class="container">

  <div class="col-md-7 no-padding-left">
    <ol class="breadcrumb no-padding-left">
      <li><a href="/home/index">Pagina de Inicio</a></li>
      <li><a href="#"><%= @reemper.category.name %></a></li>
      <li><a href="#"><%= @reemper.city %></a></li>
      <li class="active"><a href="#"><%= @reemper.user.names %></a></li>
    </ol>
  </div>


    <div class="card col-md-7 no-padding-left user-most">

      <div class="card-body user-body">
          <div class="col-md-3 show-img">
            <img src="//s3-sa-east-1.amazonaws.com/doctoralia.co/doctor/6ff24c/6ff24c3d28d8591c5fc58fb0d771a275_220_square.jpg" alt="">
          </div>

          <div class="col-md-8">

            <h3><%= @reemper.user.names %> <i class="fas fa-check-circle"></i> </h3>
            <h5><%= @reemper.category.name %></h5>
            <h4><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h4>

            <div class="col-md-5 no-padding-left">
              <button class="btn1">
                <i class="fas fa-calendar-alt"></i> Agendar Cita
              </button>
            </div>

            <div class="col-md-6 no-padding-left">
              <button class="btn2">
                Enviar Mensaje
              </button>
            </div>

          </div>

          <div class="col-md-12">
            <hr>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Consultorios</a></li>
                <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Precios</a></li>
                <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Opiniones (3)</a></li>
                <li role="presentation"><a href="#Section4" aria-controls="settings" role="tab" data-toggle="tab">Dudas</a></li>
            </ul>

          </div>
      </div>  

    </div>

    <div class="card col-md-4 no-padding-left float-right" style="background-color: red;">
      <div class="card-body">
          <h1>asdasdasd</h1>
      </div>  
    </div>


        <div class="col-md-7 no-padding">
          <div>
              <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Section1">
                        <legend> 
                            Consultorios <h3 class="float-right"><%= @consultorio.count %></h3>
                        </legend>

                    <% @consultorio.each do |consul| %>

                      <h1>asdddddddddddddddddddddddddddddddddddddddddd</h1>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Section2">
                        <h3>Section 2</h3>
                        <p>
                            2 -Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque iaculis sagittis. Cras et convallis risus, nec maximus justo. Mauris dignissim tellus eu lorem efficitur faucibus. Etiam diam risus, molestie eu porta sit amet, bibendum nec nisi. Ut iaculis pulvinar dapibus. Cras diam turpis, tincidunt ac efficitur id, dignissim at.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Section3">
                        <h3>Section 3</h3>
                        <p>
                            3 -Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius quis ipsum a rutrum. Donec quis consequat sem. Donec gravida nisi quis nibh vestibulum ullamcorper. Suspendisse turpis sapien, lobortis vel.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Section4">
                        <h3>Section 4</h3>
                        <p>
                            4 -Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum ante in velit faucibus, a efficitur nisl vestibulum. Sed a nisi eget tellus eleifend mattis. Nam vulputate leo in posuere imperdiet. Mauris a mollis nulla. Nulla euismod sed neque eget lacinia. Donec at lacus et arcu consectetur aliquet ac sed tellus. Donec non dapibus turpis
                        </p>
                    </div>

                  <% end -%>
                </div>
            </div>
        </div>



<!--
    <div class="col-md-8 no-padding" style="max-width: 65.33333%;">
      <div class="tab" role="tabpanel">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active" ><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="fas fa-building"></i></span> Mis Consultorios</a></li>
          <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><span><i class="fa fa-briefcase"></i></span> Experiencia</a></li>
        </ul>

        <div class="tab-content tabs">

          <div role="tabpanel" class="tab-pane fade in active" id="Section2">
            <% @consultorio.each do |consul| %>
              <fieldset>
                <legend>Imagenes</legend>
                  <div class="col-md-6">
                    <%= consul.first_photo? ? image_tag(consul.first_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
                  </div>

                  <div class="col-md-6">
                    <%= consul.sub_photo? ? image_tag(consul.sub_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
                  </div>

              </fieldset>

              <fieldset style="margin-top: 10px; margin-bottom: 10px;">
                <legend>Localizacion</legend>
                <div id="map1"></div>
              </fieldset>

              <script type="text/javascript">
              function initMap1() {
                var myLatLng = {lat: <%= consul.lat %>, lng: <%= consul.lng %>};

                // Create a map object and specify the DOM element
                // for display.
                var map = new google.maps.Map(document.getElementById('map1'), {
                  center: myLatLng,
                  zoom: 5
                });

                // Create a marker and set its position.
                var marker = new google.maps.Marker({
                  map: map,
                  position: myLatLng,
                  title: 'Hello World!'
                });
              }
              </script>

            <% end -%>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Section3">
            <fieldset>
              <legend>Sobre mí <i class="fas fa-users"></i> </legend>
                <%== @reemper.biography %>
            </fieldset>
            <br>
            <fieldset>
              <legend> Idiomas <i class="fas fa-globe"></i></legend>
                <%= @reemper.language %>
            </fieldset>
            <br>
            <fieldset>
              <legend>Mis Redes Sociales <i class="fab fa-twitter"></i> </legend>

                <div class="col-md-2 text-center no-padding">
                  <button class="facebook">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                </div>

                <div class="col-md-2 text-center no-padding">
                  <button class="instagram">
                    <i class="fab fa-instagram"></i>
                  </button>               
                </div>

                <div class="col-md-2 text-center no-padding">
                  <button class="twitter">
                    <i class="fab fa-twitter"></i>
                  </button>           
                </div>

            </fieldset>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" id="show-reemper">
        <div class="card-body cardby">
          <div class="col-md-12 img text-center">
                 <%= @reemper.user.avatar? ? image_tag(@reemper.user.avatar_url(), class: "rounded-circle",id: "user-avatar1") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "rounded-circle")%>

            <form>
              <fieldset class="col-md-12 starability-basic text-center">
                <legend>Valorar <i class="far fa-star"></i> </legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />

                <input type="radio" id="rate1" name="rating" value="1" />
                <label for="rate1">1 star.</label>

                <input type="radio" id="rate2" name="rating" value="2" />
                <label for="rate2">2 stars.</label>

                <input type="radio" id="rate3" name="rating" value="3" />
                <label for="rate3">3 stars.</label>

                <input type="radio" id="rate4" name="rating" value="4" />
                <label for="rate4">4 stars.</label>

                <input type="radio" id="rate5" name="rating" value="5" />
                <label for="rate5">5 stars.</label>

                <span class="starability-focus-ring"></span>
              </fieldset>
            </form>

          </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <legend class="text-center">Ubicacion <i class="fas fa-map-marked-alt"></i></legend>
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    -->
    </div>
  <br>
</div>




    <%= form_tag new_reemper_path do %>

      <%= hidden_field_tag  :valoration, nil%>
      <%= hidden_field_tag :id, nil, :value => @reemper.user.id %>
    <% end -%>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg&callback=initMap"async defer></script>


<script type="text/javascript">


      function initMap() {
        var myLatLng = {lat: <%= @reemper.lat %>, lng: <%= @reemper.lng %>};

        // Create a map object and specify the DOM element
        // for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 5
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Hello World!'
        });
      }




window.onscroll = function() {myFunction()};

var header = document.getElementById("show-reemper");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
 
 var star1 = document.getElementById("rate1");
 var star2 = document.getElementById("rate2");
 var star3 = document.getElementById("rate3");
 var star4 = document.getElementById("rate4");
 var star5 = document.getElementById("rate5");

 $(star1).click(function(event) {
  var valor = star1.value
  console.log(valor)
 });

 $(star2).click(function(event) {
  var valor2 = star2.value
  console.log(valor2)
 });


 $(star3).click(function(event) {
  var valor3 = star3.value
  console.log(valor3)
 });


 $(star4).click(function(event) {
  var valor4 = star4.value
  console.log(valor4)
 });


 $(star5).click(function(event) {
  var valor5 = star5.value
  console.log(valor5)
 });


</script>
<style type="text/css" media="screen">

  .show-img img{
    height: 140px;
    width: 140px;
    border-radius: 11px;
  }

  .btn1{
    background-color: #2f7add;
    color: #FFF;
    border: initial;
    border-radius: 7px;
    padding: 10px;
  }

  .btn2{
    color: #5458c3;
    border: initial;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #517adc;
    background-color: #ffff;

  }

  h5{
        color: #6b7270;
  }

  .user-body{
    padding-left: 5px !important;
  }

  .user-most{
    background-color: #fff;
    border-radius: 6px;
  }

  #show-reemper{
    background-color: #f2f8f9;
    margin-top: 42px;
  }

  .color{
    background-color: #f2f8f9;
  }

  .img img{
    height: 185px;
    margin-bottom: 10px;
  }

  a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.nav-tabs {
    border-bottom: initial;
}
.nav-tabs > li{
    margin-right: 1px;
}
.nav-tabs > li > a{
    border-radius: 0px;
    border: 1px solid #e4e4e4;
    border-right: 0px none;
    margin-right: 0px;
    padding: 8px 17px;
    color:#222222;
    transition: all 0.3s ease-in 0s;
}
.nav-tabs > li:last-child{
    border-right:1px solid #ededed;
}
.nav-tabs > li > a{
    padding: 15px 30px;
    border:1px solid #ededed;
    border-right: 0px none;
    border-top: 2px solid #ededed;
    background: #ededed;
    color: #8f8f8f;
    font-weight: bold;
}
.nav-tabs > li > a:hover{
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: #f1f1f1;
    color: #444;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    border-top: 2px solid #3498db;
    border-right: 0px none;
    color: #444;
}
.tab-content > .tab-pane{
    border: 1px solid #e4e4e4;
    border-top: 0px none;
    padding: 20px;
    line-height: 22px;
}
.tab-content > .tab-pane > h3{
    margin-top: 0;
}

.tab-content{
  background-color: #FFF;
  margin-top: 20px;
}



  #map{
    height: 177px ;
  }

  #map1{
    height: 177px ;
  }



  .facebook{
    background-color: #3b5998;
    color: #fff;
    border-radius: 50%;
    border: none;
    height: 51px;
    width: 54px;
  }

  .instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fff;
    border-radius: 50%;
    border: none;
    height: 51px;
    width: 54px;
  }

  .twitter{
    background-color: #1da1f2;
    color: #fff;
    border-radius: 50%;
    border: none;
    height: 51px;
    width: 54px;
  }

  .cardby{
    padding-left: 1px !important;
    padding-right: 1px !important;
  }

  .gm-control-active{
    background: linear-gradient(120deg, #00e4d0, #5983e8) !important;
  }


  .sticky {
      position: fixed;
      top: 0;
      margin-left: 10px;
      left: 821px;
      width: 356px;
  }

  body{
    background-color: #edeef2;
  }

  .navbar{
    background-color: #fff !important;
    margin-bottom: 10px;
    height: 77px;
  }

  </style>