<%= form_with(model: consulting_room, local: true, :html => {class: "needs-validation", :novalidate => true}) do |form| %>
  <% if consulting_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consulting_room.errors.count, "error") %> prohibited this consulting_room from being saved:</h2>

      <ul>
      <% consulting_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>
  <% if action_name == "new" %>
    Ingresar Informacion del Consultorio
  <% else %>
    Editar Informacion del Consultorio
  <% end -%>
</legend>

<br>


<div class="col-md-6">
  <legend>Ubicacion</legend>

  <div class="col-md-12">
    <%= form.label "Direccion" %>
    <%= form.text_field :address, class: "form form-control", id: "validationCustom01", :required => true, :placeholder => "Ejem: Carrera 80c #34a-105" %>

    <div class="invalid-feedback">
      Requerido!
    </div>
  </div>


  <div class="col-md-12">
    <%= form.label "Ciudad" %>
    <%= form.text_field :city, id: "autocomplete", class: "form form-control", :placeholder => "Ciudad" %>
  </div>

</div>


<div class="col-md-6">
    <legend>Fotografias</legend>

    <div class="col-md-12">
    <%= form.label "Primera Fotografia" %>
    <%= form.file_field :first_photo, class: "form form-control", id: "img1", :required => true %>

    <div class="col-md-12" style="padding: 0px;">
        <img id="blah" src="#" alt="" />
    </div>

  </div>

  <div class="col-md-12">
    <%= form.label "Segunda Fotografia" %>
    <%= form.file_field :sub_photo, class: "form form-control", id: "img2", :required => true %>

    <div class="col-md-12"  style="padding: 0px;">
          <img id="" src="#" alt="" />
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



  <div class="card col-md-4 offset-md-8 map">
    <div class="card-body">
        <div id="maps"></div>
    </div>
  </div>
<!--
  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :info_state %>
    <%= form.check_box :info_state %>
  </div>
-->
  <%= form.hidden_field :lat, :value => 1 %>
  <%= form.hidden_field :lng, :value => 1 %>

  <%= form.hidden_field :user_id, :value => current_user.id  %>
  <%= form.hidden_field :reemper_id %>


  <div class="modal-footer col-md-12">
    <%= form.submit "Guardar", class: "btn btn-success" %>
  </div>

<% end %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en&key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg"></script>
<script>

  function readURL(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#img1").change(function() {
    readURL(this);
  });

  function readURL(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#img2").change(function() {
    readURL(this);
  });







                      
      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input,{types: ['(cities)']});
      google.maps.event.addListener(autocomplete, 'place_changed', function(){
         var place = autocomplete.getPlace();
         console.log(place);
         console.log(place.name);
         //document.getElementById("place_id").value = place.place_id;
         document.getElementById("city").value = place.name;
      })



    
    </script>

    <style type="text/css">
      .map{
        border: 1px solid red;
      }
    </style>