<p id="notice"><%= notice %></p>

<h1>Consulting Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>City</th>
      <th>First photo</th>
      <th>Sub photo</th>
      <th>State</th>
      <th>User</th>
      <th>Reemper</th>
      <th>Info state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consulting_rooms.each do |consulting_room| %>
      <tr>
        <td><%= consulting_room.address %></td>
        <td><%= consulting_room.lat %></td>
        <td><%= consulting_room.lng %></td>
        <td><%= consulting_room.city %></td>
        <td><%= consulting_room.first_photo %></td>
        <td><%= consulting_room.sub_photo %></td>
        <td><%= consulting_room.state %></td>
        <td><%= consulting_room.user_id %></td>
        <td><%= consulting_room.reemper_id %></td>
        <td><%= consulting_room.info_state %></td>
        <td><%= link_to 'Show', consulting_room %></td>
        <td><%= link_to 'Edit', edit_consulting_room_path(consulting_room) %></td>
        <td><%= link_to 'Destroy', consulting_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consulting Room', new_consulting_room_path %>
