<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @consulting_room.address %>
</p>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg&callback=initMap2">
</script>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@consulting_room.lat},#{@consulting_room.lng}&key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg", alt: "Map" %>

<p>
  <strong>City:</strong>
  <%= @consulting_room.city %>
</p>

<p>
  <strong>First photo:</strong>
  <%= @consulting_room.first_photo %>
</p>

<p>
  <strong>Sub photo:</strong>
  <%= @consulting_room.sub_photo %>
</p>

<p>
  <strong>State:</strong>
  <%= @consulting_room.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @consulting_room.user_id %>
</p>

<p>
  <strong>Reemper:</strong>
  <%= @consulting_room.reemper_id %>
</p>

<p>
  <strong>Info state:</strong>
  <%= @consulting_room.info_state %>
</p>

<%= link_to 'Edit', edit_consulting_room_path(@consulting_room) %> |
<%= link_to 'Back', consulting_rooms_path %>
