<!DOCTYPE html>
<html>
  <head>
    <title>Reemp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= favicon_link_tag "https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/375/2.png"%>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/reset-min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />

    


    <script src="https://cdn.jsdelivr.net/npm/scriptjs@2.5.9/dist/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.0.0"></script>




  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/algolia.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.css">



  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.30.0/dist/algoliasearchLite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@beta"></script>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/374/1.png" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
          <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/375/2.png" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <!--
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li class="nav-item">
            <a href="#" class="nav-link">Schedule
              <span class="badge badge-primary ml-1">New</span>
            </a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">
              <i class="mdi mdi-elevation-rise"></i>Reports</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
          </li>
        </ul>
      -->

        <ul class="navbar-nav navbar-nav-right">
          <% if get_contac.any? %>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="fas fa-bell"></i>
                <span class="count"><%= get_contac.count %></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <a class="dropdown-item">
                  <p class="mb-0 font-weight-normal float-left">Hay <%= get_contac.count %> Mensaje
                  </p>
                  <span class="badge badge-pill badge-warning float-right">Ver Todos</span>
                </a>
                <div class="dropdown-divider"></div>
                <% get_contac.each do |remp|%>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon">
                        <%= remp.user.avatar? ? image_tag(remp.user.avatar_url(), class: "") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "")%>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-medium text-dark"><%= remp.user.names %></h6>
                      <p class="font-weight-light small-text">
                        <%== remp.description %>
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                <% end -%>
              </div>
            </li>
          <% end -%>

          <li class="nav-item dropdown">
          <li class="nav-item dropdown d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text d-none">Hola, <%= current_user.names? ? current_user.names : "Usuario Reemp" %>!</span>
               <%= current_user.avatar? ? image_tag(current_user.avatar_url(), class: "img-xs rounded-circle",id: "user-avatar1") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-xs rounded-circle")%>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">

                <div class="d-flex border-bottom">

                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                      <i class="fas fa-user"></i>
                  </div>

                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                      <i class="fas fa-users-cog"></i>
                  </div>

                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                      <i class="fas fa-user-edit"></i>
                  </div>

                </div>

              </a>

              <%= link_to "Editar Cuenta",  edit_user_registration_path, class: "dropdown-item" %>

              <% if user_signed_in?%>
                  <%= link_to "salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <% else %>
                  <%= link_to "ingresar", new_user_session_path, class: "dropdown-item" %>
              <% end -%>
              
            </div>
          </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <%= current_user.avatar? ? image_tag(current_user.avatar_url(), class: "img-xs rounded-circle",id: "user-avatar1") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-xs rounded-circle")%>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name"><%= current_user.names? ? current_user.names : "Usuario Reemp" %></p>
                  <div>
                    <small class="designation text-muted">Usuario Reemp</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <% user_menu %>

              <% if remmper_have %>
                <span class="badge badge-success">Ya Eres Reemper</span>
              <% else %>

                <%= link_to  new_reemper_path, class: "btn btn-success", id: "new_remper" do %>
                  <i class="fas fa-plus-circle"></i> Ser Reemper
                <% end -%>
                <br>
              <% end -%>

              <li class="nav-item <%= @reemper[0] %>">
                <%= link_to reeper_home_path, class: "nav-link" do %>
                    <i class="menu-icon fas fa-home"></i> Home
                <% end -%>
              </li>

              <% if remmper_have.present? && consulting_room.present? %>
              
                <li class="nav-item <%= @reemper[1] %>">
                  <%= link_to consulting_rooms_path, class: "nav-link" do %>
                      <i class="menu-icon fas fa-building"></i> Mis Consultorios
                  <% end -%>
                </li>

                <li class="nav-item <%= @reemper[1] %>">
                  <%= link_to reemper_edit_path(current_user.names, current_user.token), class: "nav-link" do %>
                      <i class="menu-icon fas fa-users-cog"></i> Editar Reemper
                  <% end -%>
                </li>

              <% end -%>

              <li class="nav-item <%= @reemper[1] %>">
                <%= link_to edit_user_registration_path, class: "nav-link" do %>
                    <i class="menu-icon fa  s fa-user"></i> Mi Cuenta
                <% end -%>
              </li>

              <li class="nav-item <%= @reemper[5] %>">
                <%= link_to home_path, class: "nav-link",  target: '_blank' do %>
                    <i class="menu-icon fas fa-users"></i> Buscar Reempers
                <% end -%>
              </li>

              <li class="nav-item <%= @reemper[1] %>">
                <%= link_to contac_reempers_path, class: "nav-link" do %>
                  <i class="menu-icon fas fa-envelope"></i> Mensajes de Usuarios
                <% end -%>
              </li>


              <div class="col-md-12 text-center" style="margin-top: 10px;">
                <%= form_tag request_remp_path, method: :get, remote: true do %>

                    <%= hidden_field_tag :lat, nil, id: "lat" %>
                    <%= hidden_field_tag :lng, nil, id: "lng" %>


                  <% if state_reemp == true %>
                    <%= submit_tag "Desactivar Ubicacion", class: "btn btn-outline-danger", :onclick => "return getLocation();", id: "btn1" %>
                    <%= hidden_field_tag :state_loc, nil, :value => "desactivado" %>
                  <% else %>
                    <%= submit_tag "Activar Ubicacion", class: "btn btn-outline-success", :onclick => "return getLocation();", id: "btn2" %>
                    <%= hidden_field_tag :state_loc, nil, :value => "dinamico" %>
                    <%= hidden_field_tag :img_reemp, nil, :value => "https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/406/mapas-y-banderas.png"%>

                  <% end -%>
                <% end -%>


              </div>

<!--
            <%# if current_user.user_name.blank? %>
                  <%# link_to  reeper_home_path + "?reemper=true", class: "btn btn-success disabled", id: "new_remper" do %>
                      <i class="fas fa-plus-circle"></i>Ser Reemper
                  <%# end -%>

            <%# elsif !get_all_information %>

                  <%# link_to  new_reemper_information_path + "?reemper=true", class: "btn btn-success", style: "" do %>
                      <i class="fas fa-plus-circle"></i>Ser Reemper
                  <%# end -%>


                  <%# elsif get_pending_state %>

                  <span class="badge badge-warning" style="font-size: 10px;">
                    Tu Peticion fue Enviada <br> Correcta Mente  <br>
                    <i class="icon fas fa-info-circle"></i>
                  </span>


                  <%# elsif get_denied_state %>

                  <span class="badge badge-danger" style="font-size: 10px;">
                    Tu Peticion fue Denegada <br> Suerte es lo que le digo  <br>
                    <i class="icon fas fa-times-circle"></i>
                  </span>

                  <%# elsif get_active_state %>

                  <span class="badge badge-success" style="font-size: 10px;">
                    Tu Peticion fue Acceptada <br> Con Exito! Bienvenido <br>
                    <i class="icon fas fa-info-circle"></i>
                  </span>

              <%# else %>

                  <span class="badge badge-success" style="font-size: 10px;">
                    Ya Puedes Enviar <br> tu solicitud de ser Reemper <br>
                    <i class="icon fas fa-info-circle"></i>
                  </span>


            <%# end -%>

            </div>
          </li>
          <li class="nav-item">
            <%# link_to reeper_home_path, class: "nav-link" do %>
                <i class="menu-icon fas fa-tachometer-alt"></i> Home
            <%# end -%>
          </li>

          <li class="nav-item">
            <%# link_to show_user_path(current_user.id), class: "nav-link" do %>
                <i class="menu-icon fas fa-user"></i> Mi Perfil
            <%# end -%>
          </li>

          <li class="nav-item">
            <%# link_to my_request_path, class: "nav-link" do %>
                <i class="menu-icon fas fa-poll-h"></i> Mis Peticiones
            <%# end -%>
          </li>


          <li class="nav-item">
            <%# link_to reeper_home_path + "?reemper=true", class: "nav-link" do %>
                <i class="menu-icon far fa-eye"></i> Peticion
            <%# end -%>
          </li>

          <li class="nav-item">
            <%# link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="menu-icon fas fa-sign-out-alt"></i> Salir
            <%# end -%>
          </li>
          -->
          <!--
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-content-copy"></i>
              <span class="menu-title">Basic UI Elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                </li>
              </ul>
            </div>
          </li>
        -->
        </ul>
      </nav>

  <body class="body">

    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <% if controller_name != "registrations"%>
            <div class="card col-md-12">
              <div class="card-body" style="padding: 10px 10px">
                <%= yield %>
              </div>
            </div>
          <% else  %>
            <%= yield %>
          <% end -%>
        </div>
      </div>
    </div>

  </body>
</html>


<p id="demo"></p>

<script>
var x = document.getElementById("demo");

var lati = document.getElementById("lat");
var longi = document.getElementById("lng");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  lati.value = position.coords.latitude
  longi.value = position.coords.longitude
}
</script>



<script type="text/javascript">
  var bt1 =  document.getElementById("btn1")
  var bt2 =  document.getElementById("btn2")

  $(bt1).dblclick(function(event) {
    $(bt1).css({'display':'none'});
    $(bt2).css({'display':'block'});
  });

  $(bt2).dblclick(function(event) {
    $(bt2).css({'display':'none'});
    $(bt1).css({'display':'block'});

  });

</script>


<style type="text/css" media="screen">

  .py-3{
    padding: 11px !important;
  }

  .py-3 > .fas{
    color: #5bc0de;
  }
  .hide-btn{
    display: none;
  }

  .show-btn{
    display: block;
  }

 
   @media only screen and (min-width: 1600px) {

    /* Large screen, non-retina */
    body{
      zoom: 151% !important;
    }
  }

  .icon{
        margin-top: 4px;
    font-size: 19px;
    cursor: pointer;
  }

  .sidebar .nav .nav-item .nav-link .badge{
    margin-left: 0px;
    padding: 5px;
  }

  .sidebar .nav .nav-item.active > .nav-link{
    color: #4a4a4a;
  }

  

  .active a{
        color: red;
  }

      .modal-backdrop{
          background-color: #00000059 !important;
    }


    @media (max-width: 576px) {

      .navbar-menu-wrapper{
        padding: 0px;
      }

      .navbar-nav .nav-item.dropdown .navbar-dropdown {
          right: -12px !important;
      }

      .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item{

        right: -27px !important;
      }

      .navbar-toggler{
        margin-left: 10px;
      }

      .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
          width: calc(101px - 48px);
          max-width: 100%;
          height: 42px;
          margin: auto;
      }



    }

    /*table asdasd*/
    @media (min-width: 768px) and (max-width: 1024px) {
      
    }


    @media only screen and (max-width: 1000px) {

    }

</style>

<script type="text/javascript">


(function($) {
  'use strict';
  $(function() {
    $('[data-toggle="offcanvas"]').on("click", function() {
      $('.sidebar-offcanvas').toggleClass('active')
    });
  });
})(jQuery);

</script>
